

.divInformacionPersonal{
    margin-top:1%;
}
.divImagePersona{
    text-align:center;
}
/*
    Informacion de contacto
    */
.divControl{
    margin-bottom:3%;
}
.tabla{
    margin-top:5%;
}
.tabla thead tr th {
    text-align:center;
}
.divInformacionPersonal h2{
    margin-bottom:5%;
}
.divInformacion h2,.divInformacion h3{
    text-align:center;
    padding-top:3%;
}
.divInformacion h2{
    margin:0;
    padding:0;
}
/* Para la foto */
.imgPersona{
    max-width:100%;
    margin-bottom:3%;
    height:auto;
    margin:0 auto;
}
.jcrop-holder{
    margin: 0 auto;
}
.btnEstablecer{
    margin-bottom:3%;
}

.divTituloNombre{
    padding-top:3%;
    padding-bottom:3%;
}
/*
    Para input file
    */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background:#DDDDDD;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/***************/
