@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/FichaInstitucion/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/FichaInstitucion/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/script.js"></script>
    <script src="~/Scripts/views/Instituciones/functions.js"></script>
}
<h2>FichaInstitucion</h2>
