@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/script.js"></script>
    <script src="~/Scripts/views/Instituciones/functions.js"></script>
}
<input type="hidden" class="txtHdIdSeleccionado" value="@ViewBag.idContinente" />
<h2 class="tituloAyuda">
    <!--Encuentre nuestras instituciones por Continente-->
    @ViewData["titulo-busqueda-institucion"]
</h2>
<div class="row marginNull divContinentes">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 continente continente2" id="2" >
            <img src="~/Content/images/views/Instituciones/america.png" />
            <h3 class="nombreContinente">America</h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 continente continente1" id="1" >
            <img src="~/Content/images/views/Instituciones/africa.png" />
            <h3 class="nombreContinente">Africa</h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 continente continente3" id="3">
            <img src="~/Content/images/views/Instituciones/asia-f.png" />
            <h3 class="nombreContinente">Asia</h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 continente continente4" id="4">
            <img src="~/Content/images/views/Instituciones/europa.png" />
            <h3 class="nombreContinente">Europa</h3>
        </div>
</div>
<div class="marginNull row cuerpoInstituciones">
    <h3 class="hContinente text-center">@ViewData["lb-ayuda-tabla"]</h3>
    <table class="table table-striped tablaContinente">
        <thead>
            <tr class="trP">
                <th>País</th><!--rowspan="2"-->
                <th>Institución</th> <!--rowspan="2"-->
                <th>
                    <!-- colspan="2" -->
                    Contacto
                </th>
            </tr>
            <!--<tr>
                <th>
                    Telefonos
                </th>
                <th>
                    Medios
                </th>
            </tr>-->
        </thead>
        <tbody class="tbodyInstitucion">
            <tr>
                <td colspan="3" class="text-center tdNull">
                    Seleccione continente
                </td>
            </tr>
            <!--<tr>
                <td>El Salvador </td>
                <td>Universidad Don Bosco</td>
                <td>
                    <div class="col-lg-6">
                        <h4>Telefonos: </h4>
                        <div>
                            78719006
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Medios electronicos: </h4>
                        <div>
                            http://www.google.com
                        </div>
                    </div>
                </td>
            </tr>-->
        </tbody>
    </table>
</div>
