@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/VerInstituciones/script.js"></script>
    <script src="~/Scripts/views/Instituciones/VerInstituciones/functions.js"></script>
}
<div class="row marginNull">
    <div class="col-lg-3 pink">
        <div>

        </div>
    </div>
    <div class="col-lg-3 green">
        aaa
    </div>
</div>