@using IUSLibs.FrontUI.Entidades
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/VerInstituciones/script.js"></script>
    <script src="~/Scripts/views/Instituciones/VerInstituciones/functions.js"></script>
}
@{
    List<Institucion> instituciones = (List<Institucion>)ViewBag.instituciones;
}
<div class="row marginNull divInstituciones">
    @if (instituciones != null && instituciones.Count > 0)
    {
        foreach (Institucion institucion in instituciones)
        {
            
            <div class="col-lg-6">
                <div class="cuadritoInstitucion">
                    <div class="col-lg-5 logoInstitucion">
                        <div>
                            <img src="~/Content/images/generales/tmp/n1.png" />
                        </div>
                    </div>
                    <div class="col-lg-7 descripcionInstitucion">
                        <h3>@institucion._nombre</h3>
                        <div class="row marginNull">
                            <p>
                                @institucion._direccion
                            </p>
                        </div>
                        <div class="row marginNull divContacto ">
                            <h4>Contactenos</h4>
                            <div class="col-lg-6">
                                <h5>Enlaces: </h5>
                                <a href="#">
                                    www.udb.edu.sv
                                </a>
                                <a href="#">
                                    info@udb.edu.sv
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <h5>Telefonos: </h5>
                                <a href="tel:+13174562564">
                                    1317-4562
                                </a>
                                <a href="tel:+13174562564">
                                    2225-3860
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>