@using IUSLibs.FrontUI.Entidades
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/VerInstituciones/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/VerInstituciones/script.js"></script>
    <script src="~/Scripts/views/Instituciones/VerInstituciones/functions.js"></script>
}
@{
    List<Institucion> instituciones = (List<Institucion>)ViewBag.instituciones;
    string imgDefault               = Url.Content("~/Content/images/generales/image-color.png");
    string src                      = "";
}

<div class="row marginNull divInstituciones">
    @if (instituciones != null && instituciones.Count > 0)
    {
        foreach (Institucion institucion in instituciones)
        {
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="cuadritoInstitucion">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-5 logoInstitucion pink">
                        <div>
                            @if (institucion._logo != null)
                            {
                                src = "data:image/png;base64," + Convert.ToBase64String(institucion._logo, 0, institucion._logo.Length);
                            }
                            else
                            {
                                src = imgDefault;
                            }
                            <img src="@src" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-7 descripcionInstitucion">
                        <h3>@institucion._nombre</h3>
                        <div class="row marginNull">
                            <p>
                                @institucion._direccion
                            </p>
                        </div>
                        <div class="row marginNull divContacto ">
                            <h4>Contactenos</h4>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h5>Enlaces: </h5>
                                <a href="#">
                                    www.udb.edu.sv
                                </a>
                                <a href="#">
                                    info@udb.edu.sv
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h5>Telefonos: </h5>
                                @if (institucion._telefonos != null && institucion._telefonos.Count > 0)
                                {
                                    foreach (TelefonoInstitucion telefono in institucion._telefonos)
                                    {
                                        <a href="tel:+@telefono._telefono">
                                            @telefono._textoTelefono
                                        </a>   
                                    }
                                }
                                <!--
                                <a href="tel:+13174562564">
                                    1317-4562
                                </a>
                                <a href="tel:+13174562564">
                                    2225-3860
                                </a>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>