<div class="menu">
    <div class="row marginNull">
        <ul class="botonesNewAction">
            <li class="rojito btnPrincipal NewActionLi">
                Nuevo
                <ul class="ulSub" style="display:none">
                    <li class="subLiButton icoNuevaCarpeta">
                        <div>
                            Nueva carpeta
                        </div>

                    </li>
                    <li class="subLiButton ">
                        <div>
                            Subir carpeta
                        </div>

                    </li>
                    <li class="subLiButton icoSubirFichero ">
                        <div>
                            Subir Archivo
                        </div>

                    </li>
                </ul>
            </li>
            @*<li class="subLiButton ">
                    <div class="noBordeBottom">
                        Subir archivo
                    </div>
                </li>*@
        </ul>
    </div>
    <div class="row marginNull">
        <ul>
            <li class="lkbSubMenu" href="@Url.Action("Index","Repositorio")">
                Mis archivos
            </li>
            <li class="lkbSubMenu" href="@Url.Action("Index", "RepositorioCompartido")">
                Compartido
            </li>
            <li class="lkbSubMenu" href="@Url.Action("Index", "RepositorioPublico")" >
                Publico
            </li>
        </ul>
    </div>
</div>
