@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/changePasswordi/style.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/home/changepasswordi/script.js"></script>
        <script src="~/Scripts/Views/home/changepasswordi/functions.js"></script>
}
<div class="row marginNull contenedorCuerpo">
    <div class="seccionLogin">
        <div class="cuadritoLogin">
            <div class="divImageLogoLogin divUserImage">
                <img src="@Url.Content("~/Content/themes/iusback_theme/img/general/noPickProfile.png")" />
                <span class="spAreaPrivada">Cambiar contraseña</span>
            </div>
            <div class="row marginNull divControles">
                <form class="frmChangePass" method="post">
                    <input class="txtLogin txtPassActual" name="txtPassActual" type="password" placeholder="Contraseña antigua" />

                    <div class="row marginNull divPass">
                        <input class="txtLogin txtPass" name="txtPass" type="password" placeholder="Contraseña nueva" />
                        <input type="password" class="txtLogin txtConfirmarPass" name="txtConfirmarPass" placeholder="Confirmar contraseña" />
                    </div>
                    <button class="btn btnIniciar">Cambiar la contraseña</button>
                    <div class="divMensaje">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
