@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/Views/Home/ChangePassword/script.js"></script>
    <script src="~/Scripts/Views/Home/ChangePassword/functions.js"></script>
}
<div class="card card-container divSeleccionLogin">
    <h3>Cambiar contraseña</h3>
</div>
<div class="card card-container " id="divLoginAdmin">
    <img id="profile-img" class="profile-img-card" src="~/Content/themes/iusback_theme/img/general/logo_ius.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form id="frmChangePass" action="@Url.Action("sp_usu_changePass","Home")" method="post">
        <span id="reauth-email" class="reauth-email"></span>
        <input name="txtPass" id="inputEmail" type="password" class="txtPass form-control" placeholder="Contraseña" />
        <span>_</span>
        <input id="inputPassword" type="password" name="txtConfirmPass" class="txtConfirmPass form-control" placeholder="Confiramar contraseña" />
        <span>_</span>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Cambiar contraseña</button>
    </form>
</div>
