@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/changePasswordi/style.css" />
}
<h2>changePasswordi</h2>
