@using IUSLibs.SEC.Entidades;
@{   
    ViewBag.Title = "Home Page";
}
@section estilosPersonalizados {
    <link  rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/style.css"/>
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/media.css" />
}

<div class="row marginNull cuerpoHome">
    <h1 class="text-center">Bienvenidos a IUS</h1>
    <h3 class="text-center">Sistema administrativo</h3>
    @*<h3 class="text-center">Eventos proximos</h3>
    <div class="col-lg-6">
        <h3 class="text-center">Publicos</h3>    
        <div class="col-lg-6">
            <h4 class="text-center">Hoy</h4>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">Mes</h4>
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="text-center">Privados</h3>
        <div class="col-lg-6">
            <h4 class="text-center">Hoy</h4>
        </div>
        <div class="col-lg-6">
            <h4 class="text-center">Mes</h4>
        </div>
    </div>*@
</div>