@using IUSLibs.SEC.Entidades;
@{   
    ViewBag.Title = "Home Page";
}
@section estilosPersonalizados {
    <link  rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/style.css"/>
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/media.css" />
}

<div class="row marginNull cuerpoHome">

</div>