@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/Registro/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/home/Registro/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Home/Registro/script.js"></script>
        <script src="~/Scripts/Views/Home/Registro/functions.js"></script>
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
</head>
<body>
    <div class="row marginNull contenedor">
        <h2 class="tituloPrincipal">Registro de usuarios</h2>
        <div class="row marginNull divFormulario">
            <form class="frmRegistrar" method="post">
                <div class="col-lg-6 divInputForm vv">
                    <label>Email</label>
                    <input type="email" class="form-control txtEmail " name="txtEmail" />
                    <div class="divResultado hidden ">
                        _
                    </div>
                </div>
                <div class="col-lg-6 divInputForm vv">
                    <label>Contraseña</label>
                    <input type="password" class=" form-control txtPass " name="txtPass" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </div>
                <div class="col-lg-6 divInputForm vv">
                    <label>Nombres</label>
                    <input class=" form-control txtNombre soloLetras" name="txtNombre" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </div>
                <div class="col-lg-6 divInputForm vv">
                    <label>Apellidos</label>
                    <input class=" form-control txtApellidos soloLetras" name="txtApellidos" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </div>
                <div class="col-lg-offset-4 col-lg-4 divInputForm vv">
                    <label>Fecha de nacimiento</label>
                    <input type="text" class=" form-control dtpFechaNac txtFechaNac" name="txtFechaNac" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </div>
                <div class="col-lg-offset-4 col-lg-4">
                    <span class="spanResultado spanSuccess hidden">Registrado exitosamente</span>
                    <button class="btn btn-default btnRegistrarse">Registrarse</button>
                    <div class="row marginNull rowNoCorreo">
                        <a href="#" class="aNoCorreo">
                            ¿No recibiste el correo de confirmación?, Click Aqui.
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="row marginNull contenedor divReenviarCorreo text-center">
        
        <h2 class="tituloPrincipal">Reenviar correo</h2>
        <p>En esta sección podras pedir que se te envie un nuevo correo de confirmación en caso no te haya llegado </p>
        <div class="row marginNull">
            <div class="col-lg-offset-4 col-lg-4">
                <input class="form-control txtEmail" name="txtEmail" />
            </div>
        </div>
        <button class="btn btn-default btnReenviar">Reenviar</button>
        <div class="rowMensajeReenviar">

        </div>
    </div>
</body>
</html>
