@font-face{
    font-family:'trackp';
    src: url("../../../fonts/track/track.ttf");
}
@font-face{
    font-family:'latop';
    src: url("../../../fonts/lato/Lato-Regular.ttf");
}
@font-face{
    font-family:'circulap';
    src:url("../../../fonts/circula/circula-medium.ttf");
}