/* Contendra todos los estilos generales del sistema */
/*
    Clases de prueba
    */
    .pink{
        background:pink;
    }
    .green{
        background:green;
    }
    .purple{
        background:purple;
    }
    .red{
        background:red;
    }
    .yellow{
        background:yellow;
    }
/* Generics */
    .fullSize{
        width: 100%;
    }
/* clases produccion */
    .pointer {
        cursor:pointer;
    }
    .noEspacio{
        margin:0;
        padding:0;
    }
/* Ajax universal */
    #contenerdorCargadorAjax{
        position: absolute;
        left:50%;
        top:50%;
    }
    #textoEsperaAjax{
        font-size:1.5em;
        font-weight:bold;
        margin-top:3%;
    }
    #cargadorAjaxUniversal{
        position: relative;
        top:50%;
        left:-50%;
        text-align:center;
    }
    #div_carga{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
	    background: rgba(128, 128, 128,0.5);
	    display:none;
	    z-index:1;
    }
/* Tablas */
    .clickTr{
        background:yellow;
    }
