/*
    Para mensajes generales
    */
.divMensajesGenerales{
    text-align:center;
    font-size:1.2em;
    margin-top:3%;
}
/************/
.inline{
    display:inline-block;
}
.activeMenu{
    color:#95A5A6;
}
.activeMenuPrincipal{
    color:wheat !important;
}
/*Nuevos meno*/
.divMenu{
    padding-left:5%;
    margin-top:5%;
    text-align:center;
    font-size:1.5em;
}
    .divMenu a {
        color:black;
        text-decoration:none;
    }

.divMenu img{
    display:block;
    width:20%;
    margin:0 auto;
    margin-bottom:7%;
}
/* Contendra todos los estilos generales del sistema */
/*
    Clases de prueba
    */
    .pink{
        background:pink;
    }
    .green{
        background:green;
    }
    .purple{
        background:purple;
    }
    .red{
        background:red;
    }
    .yellow{
        background:yellow;
    }
/* Menu */
    header{
        margin:0;
        margin-top:2%;
    }
    nav ul{
        padding:0;
        margin:0;
    }
    nav ul li{
        display:inline-block;
        width:18%;
        height:100%;
    }
    nav > ul > li {
        padding-top:20px;
        padding-bottom:20px;
    }
    nav ul li a:hover{
        text-decoration:none;
    }
    nav ul li ul{
        display:none;
    }
    nav ul li {
        margin:0;
        padding-left:3%;
        padding-right:2%;
        vertical-align:middle;
        text-align:center;
        font-size:1em;
        position:relative;
    }
    nav ul li a{
        color:white;
        font-weight:bold;
        font-family:'trackp';
    }
    .sectionLogoMenu img{
        width:80%;
        margin-left:5%;
    }
    header{
        margin:0;
        margin-top:3%;
    }
    .menu{
        padding:0;
        

        background:#e74c3c;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
        margin-top:5px;
        margin-left:5%;
    }
    .menu ul li:hover > ul{
        display:block;
        margin-top:20px;
    }
    .menu ul li ul{
        position:absolute;
        width:100%;
        background:#F5F5F5;
        border:solid 1px;
        border-top:none;
    }
    .menu ul li ul li a {
        color:black;
        font-weight:normal;
        font-family:Arial;
    }
    .menu ul li ul li{
        display:block;
        width:100%;
        margin-top:3%;
        margin-bottom:3%;
        border-bottom:solid white;
    }
    .menu ul li ul li:last-child{
        border-bottom:none;
    }
/*
    Other menu
    */
    .dataImportanteHeader .titulito{
        font-weight:bold;
    }
    .dataImportanteHeader div{
        margin-bottom:2%;
    }
    .otherMenuGray{
        background:#F5F5F5;
        margin:0;
        margin-top:3%;
        padding-top:2%;
        padding-bottom:2%;
    }
    .informacionHeaderDiv{
        text-align:center;
        vertical-align:middle;
    }
    .btnLogOut{
        border-radius:0;
        margin-top:3%;
    }
    .accesibilidadDiv h2{
        margin:0;
        text-align:center;
        font-family:'circulap';
        font-size:3em;
    }
    
    /*
        Tabs
        */
    .tabsHeader{
        text-align:center;
        margin-top:3% !important;
    }
    .tabsHeader ul li{
        display:inline-block;
        width:25%;
        /*background:rgb(104, 145, 162);*/
        background:#95A5A6;
        padding-top:1%;
        padding-bottom:1%;
        cursor:pointer;
        color:white;
        font-family:'latop';
    }
    .tabsHeader ul li:hover,.tabActive{
        background: #2c3e50 !important;
    }
    .tabActive{
        font-weight:bold;
    }
    /**/
/* Generics */
    .visibilitiHidden{
        visibility:hidden;
    }
    .fullSize{
        width: 100%;
    }
    body{
         font-family:'latop';
    }  
    
    
/* clases produccion */
    .pointer {
        cursor:pointer;
    }
    .noEspacio{
        margin:0;
        padding:0;
    }
    .marginNull{
        margin:0;
    }
    .paddingNull{
        padding:0;
    }
    .cuerpoModulo{
        margin-top:3%;
    }
/*
    footer 
    */
        /*
        CopyRight
        */
        .copyRight{
            background:#95a5a6;
            text-align:center;
            padding-top:1%;
            padding-bottom:1%;
        }
        .copyRight span{
            display:block;
            color:white;
        }
        footer{
            margin-top:5%;
        }
/* Ajax universal */
    #contenerdorCargadorAjax{
        position: absolute;
        left:50%;
        top:50%;
    }
    #textoEsperaAjax{
        font-size:1.5em;
        font-weight:bold;
        margin-top:3%;
    }
    #cargadorAjaxUniversal{
        position: relative;
        top:50%;
        left:-50%;
        text-align:center;
    }
    #div_carga,.modal{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
	    background: rgba(128, 128, 128,0.5);
	    display:none;
	    z-index:1;
    }
    .inputBackModal{
        background:rgba(255,255,255,0.5);
        position:static !important;
    }
/* Tablas */
    .clickTr{
        background:rgb(189, 195, 199);
        color:white;
    }
/*Nuevo para mensajes en pantalla*/
.divResultado{
    text-align:center;
    margin-bottom:3%;
    font-weight:bold;
}
.successMessage{
    color:#2ecc71;
}
.failMessage{
    color:#e74c3c;
}
/*Nuevo para mensajes en patntalla*/
/*********************************************/
.divArbol{
    margin-top:2%;
}
.cuadritoArbol{
    background: #ecf0f1;
    padding-top:1%;
    padding-bottom:1%;
    font-size:0.9em;
    cursor:pointer;
}
.cuadritoArbol:hover{
    /*border: 1px solid black;*/
}
/*Atras y adelante */
.globalLeft, .globalRight {
    cursor:pointer;
    opacity:0.4;
    font-size:0.8em;
}
.globalLeft:hover, .globalRight:hover {
    opacity:1;
}
.globalRight{
    margin-left: 2%;
}
.globalLeft{
    margin-right:2%;
}

