.rowNoCorreo{
    margin-top:4%;
}
.btnReenviar{
    margin-top:3%;
}
/*Nuevo*/
.frmRegistrar{
    text-align:center;
}
.divInputForm{
    margin-bottom:3%;
}
.tituloPrincipal{
    text-align:center;
    margin-bottom:5%;
    background:#ECF0F1;
    padding-top:1%;
    padding-bottom:1%;
}
.contenedor{
    width:95%;
    margin:0 auto;
}
.divFormulario{
    margin-bottom:10%;
}
.btnRegistrarse{
    margin-top:3%;
}
/*****************************/
header{
    display:none;
}
.frmRegistrar span{
    display:block;
}
.frmRegistrar .spanError{
    color:red;
}
.frmRegistrar .spanSuccess{
    color:green;
}