.rowHerramientas{
    margin-top:2%;
}
.folders{
    margin-top:5%;
}
.folder{
    text-align:center;
    min-height:280px;
}
.cuadritoIcono:hover{
    background:#9b9bff;
    cursor:pointer;
}
.inputNombreCarpeta{
    margin-top:10%;
    margin-bottom:5%;
}
.cuadritoIcono,.cuadritoIconoAdd{
    width:80%;
    padding-top:10%;
    padding-bottom:3%;
}
.fileSelected{
    background:blue;
    color:white;
}
.folder img{
    width:50%;
    
}
.accionesDiv .ico{
    margin-left:3%;
    color:black;
}
