<div class="tabModal divNuevaCarpetaModal modalContenido" style="display:none">
    <div class="row marginNull">
        <div class="col-lg-4 tituloModal">
            Nueva carpeta
        </div>
    </div>
    <div class="divInfoI">
        <!-- Contenido -->
        <div class="row marginNull rowTituloModalCarpeta">
            Nombre de carpeta
        </div>
        <div class="row marginNull rowNombreCarpeta">
            <input class="form-control txtNombreCarpeta" name="txtNombreCarpeta" />
        </div>
        <div class="row marginNull rowBotonesModal">
            <div class="col-lg-offset-4">
                <button class="btn btn-default btnBack closeModal btnCancelarModal">Cancelar</button>
                <button class="btn btn-default btnBack btnPrimaryModal btnNuevaCarpeta">Crear</button>
            </div>
        </div>
    </div>
</div>