@using IUSLibs.ADMINFE.Entidades.Noticias
@section estilosPersonalizados{
    <!--Plugins -->
        <!-- Jcrop -->
            <link rel="stylesheet" href="~/Content/third-party/jcrop/css/jquery.Jcrop.min.css" />
    <!-- propios -->
        <link rel=" stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/setMiniatura/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/setMiniatura/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
        <!-- jcrop -->
            <script src="~/Content/third-party/jcrop/js/jquery.Jcrop.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/Administracion/Noticias/setMiniatura/script.js"></script>
        <script src="~/Scripts/Views/Administracion/Noticias/setMiniatura/functions.js"></script>
}
@{
    Post post = (Post)ViewBag.post;
    string src = "";
}
<div class="contenidoModulo">
    <form method="post" id="frmMiniatura" action="@Url.Action("sp_adminfe_noticias_setThumbnailPost")">
        <input type="hidden" name="txtHdIdPost" class="txtHdIdPost" value="@post._idPost" />
        @*<div class="divImgThumbnail" >*@
            @if(post._miniatura != null){
                src = "data:image/png;base64," + Convert.ToBase64String(post._miniatura, 0, post._miniatura.Length);
            }else{
                src = Url.Content("~/Content/themes/iusback_theme/img/general/image.png");
            }
            <img class="imgThumbnail" src="@src" />    
            <div class="row divLoadingPhoto">

            </div>
            <div class="row marginNull divCorte ">
                <input class="x" name="x" value="0" />
                <input class="y" name="y" value="0" />

                <input class="imgAlto" name="imgAlto" value="0" />
                <input class="imgAncho" name="imgAncho" value="0" />
            </div>
            
        @*</div>*@
        
        <div class="row marginNull">
            <div class="fileUpload btn">
                <span>Seleccionar imagen</span>
                <input type="file" class="upload" id="flMiniatura" accept="image/*" required="">
            </div>
        </div>
        
        <!-- <input type="file" id="flMiniatura" /> -->


        <input id="btnSubmit" class="btn botonSubir" type="submit" value="Subir" disabled />
        <div class="row marginNull divResultado">

        </div>
    </form>
</div>
