@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/stylei.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/mediai.css" />
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />*@
}
@section scriptsPersonalizados{
    
}
<div class="row marginNull lineaRoja">

</div>
<div class="centroPagina row marginNull">
    <div class="col-lg-4">
        <ul class="menuConocenos">
            <li>
                <a>Identidad</a>
            </li>
            <li>
                <a>Historia</a>
            </li>
            <li>
                <a>Organización</a>
            </li>
            <li>
                <a>Ius</a>
            </li>
            <li>
                <a>Salesianos</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-8 DetalleMenuConocenos">
        <div class="contenedorImgPrincipal">
            <img class="imgPrincipal" src="~/Content/images/generales/conocenos/img.png" />
        </div>
        
    </div>
</div>

