@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados{
    
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />*@
}
@section scriptsPersonalizados{
    
}
<h2>Este es el titulo</h2>
