@section estilosPersonalizados{
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
@section tabs{
    <ul>
        <li class="btnTab tabActive" target="#tab-1">
            Personales
        </li>
        <li class="btnTab" target="#tab-2">
            Compartidos
        </li>
        <li class="btnTab" target="#tab-3">
            Publicos
        </li>
    </ul>    
}