<div class="col-lg-2">

</div>
<div class="col-lg-8 accesibilidadDiv">
    <h2>@ViewBag.titleModulo</h2>
    <div class="row tabsHeader col-lg-12" >
        <ul>
            <li>Asignar roles</li>
            <li>Permisos roles</li>
            <li>Administrar roles</li>
        </ul>
    </div>
</div>
<div class="col-lg-2 informacionHeaderDiv">
    <div class="row">
        <div class="col-lg-12 text-center">
            <b>Usuario:</b>
        </div>
        <div class="col-lg-12 text-center">
            byronpenna
        </div>
    </div>
</div>