<footer >
    <div class="row marginNull copyRight">
        <span>Instituciones Salesianas de Educación Superior</span>
        <span>2015 Derechos Reservados</span>
        <span>Desarrollado por: CTIC El Salvador</span>
    </div>
</footer>