<footer>
    <div class="row marginNull centroPagina copyRight">
        <div class="col-lg-3 vcenter divImgFooter">
            <img src="@Url.Content("~/Content/themes/iusback_theme/img/general/logo2.png")" />
        </div>
        <div class="col-lg-6 vcenter">
            <span>Instituciones Salesianas de Educación Superior</span>
            <span>2015 Derechos Reservados</span>
            <span>Desarrollado por: CTIC El Salvador</span>
        </div>
        
    </div>
</footer>