.titlePersona{
    text-align:center;
}
    .titlePersona:hover {
        cursor:pointer;
    }

/*************************/
.rowDataPersona{
    text-align:center;
    margin-bottom:3%;
}
.imgPersona{
    width:10%;
}