.titlePersona{
    text-align:center;
}
    .titlePersona:hover {
        cursor:pointer;
    }

.txtDate{
    width: 10%;
}
/*************************/
.rowDataPersona{
    text-align:center;
    margin-bottom:3%;
}
.imgPersona{
    width:10%;
}

