/**/
.titlePersona{
    text-align:center;
}
    .titlePersona:hover {
        cursor:pointer;
    }

.txtDate{
    width: 10%;
}
/*************************/
.rowDataPersona{
    text-align:center;
    margin-bottom:3%;
}
.imgPersona{
    width:10%;
}
/* Tabla actividades */
.trTable{
    background:gainsboro !important;
}
.tablaActividadesEmpresa{
    width:95%;
    margin: 0 auto;
}
.tablaActividadesEmpresa thead tr th,.tdEditActividades{
    text-align:center;
}
.titleTrTable{
    text-align:center;
    font-family:'latop';
    font-size:1.5em;
    background:#3498db;
    color:white;
}
.tdBotones{
    text-align:center;
}
.divTablita{
    width:95%;
    margin:0 auto;
    margin-top:1%;
}
.tablaLaboral thead tr th{
    vertical-align:top;
}