@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/ForgetPass/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/ForgetPass/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/Views/Login/ForgetPass/script.js"></script>
    <script src="~/Scripts/Views/Login/ForgetPass/functions.js"></script>
}

<h2>ForgetPass</h2>
