@using IUSLibs.SEC.Entidades
@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/ForgetPass/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/ForgetPass/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/Views/Login/ForgetPass/script.js"></script>
    <script src="~/Scripts/Views/Login/ForgetPass/functions.js"></script>
}
@{
    Usuario usuario = (Usuario)ViewBag.usuario;
}
<div class="container">
    <div class="card card-container " id="divLoginAdmin">
        <form action="/" id="frmInvitado" method="post">
            @*inputs ocultos*@
                <input type="hidden" class="txtHdIdUsuario" name="txtHdIdUsuario" value="@usuario._idUsuario" />
                <input type="hidden" class="txtHdCodigo" name="" value="@ViewBag.codigo"/>

            <label>Usuario: </label>
            <input id="txtUsuario" class="form-control txtUsuario" name="txtUsuario" placeholder="Email address" autofocus value="@usuario._usuario" readonly>
            <span class="visibilitiHidden"> </span>

            
            <input type="password" id="txtPass" class="form-control txtPass" name="txtPass" placeholder="Password" required autofocus>
            <span class="visibilitiHidden"> </span>
            
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Recuperar contraseña</button>
            <div class="divMessageLogin">

            </div>
        </form>
    </div>
</div>

