.tdPais{
    width:20%;
}
.tdDireccion{
    width:40%;
}
/*Quitar en caso de usar tabs*/
    .cuerpoModulo,.tabsHeader{
        margin-top:0%;
    }
    .tabsHeader{
        display:none;
    }

.divDatos{
    /*margin-top:5%;*/
}
.tbInstituciones tr td:first-child,.tbInstituciones tr th:first-child{
    display:none;
}
.txtAreaDireccion{
    resize:none;
}
.btnFromlink{
    /*background:#DDDDDD;*/
}
.divMensajesGenerales{
    margin-top:5%;
}