.divDatos{
    margin-top:5%;
}
.tbInstituciones tr td:first-child,.tbInstituciones tr th:first-child{
    display:none;
}
.txtAreaDireccion{
    resize:none;
}
.btnFromlink{
    /*background:#DDDDDD;*/
}
.divMensajesGenerales{
    margin-top:5%;
}