@section estilosPersonalizados{
    <!-- Plugins -->
        <!-- Full calendar -->
            <link href="~/Content/third-party/fullcalendar/fullcalendar.min.css" rel='stylesheet' />
            <link href="~/Content/third-party/fullcalendar/fullcalendar.print.css" media="print" rel="stylesheet" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Eventos/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Eventos/media.css" />
}
@section scriptsPersonalizados{
    <!-- Plugins -->
        <script src="~/Content/third-party/fullcalendar/lib/moment.min.js"></script>
        <script src="~/Content/third-party/fullcalendar/fullcalendar.min.js"></script>
    <!-- Propios -->
        <script src="~/Scripts/Views/Administracion/Eventos/script.js"></script>
        <script src="~/Scripts/Views/Administracion/Eventos/functions.js"></script>
}
<h2>Eventos</h2>
<div class="row seccion">
    <div class="col-lg-4">
        <form id="frmAgregarEvento">
            <div class="form-group">
                <label for="txtEvento">Nombre evento</label>
                <input type="text" class="form-control txtEvento" name="txtEvento" id="txtEvento" placeholder="Evento">
            </div>
            <div class="form-group">
                <label for="txtAreaDescripcion">Descripcion:</label>
                <textarea class="form-control txtAreaDescripcion" id="txtAreaDescripcion" name="txtAreaDescripcion" placeholder="Breve explicacion sobre que consiste eventos"></textarea>
            </div>
            <div class="form-group">
                <label for="txtFechaInicio">Fecha inicio</label>
                <input type="text" class="form-control txtFechaInicio" name="txtFechaInicio" id="txtFechaInicio" />
            </div>
            <div class="form-group">
                <label for="txtFechaFin">Fecha fin</label>
                <input type="text" class="form-control txtFechaFin" name="txtFechaFin" id="txtFechaFin" />
            </div>
            <div class="form-group">
                <label for="cbTipoAcceso">Tipo de acceso </label>
                <select class="form-control cbTipoAcceso" name="cbTipoAcceso" id="cbTipoAcceso" >
                    
                </select>
            </div>
            <div class="form-group">
                <button class="btnAgregarEvento btn btn-primary">
                    Agregar evento
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-8">
        <div id='calendar'></div>
    </div>
</div>
