@section estilosPersonalizados{
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/Administracion/Noticias/script.js"></script>
        <script src="~/Scripts/Views/Administracion/Noticias/functions.js"></script>
}
<h2>Noticias</h2>

