
.lineaRoja
	height: 45px
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.73, #CD1316),color-stop(1, #AD1013))
	background-image: -o-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -moz-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -webkit-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -ms-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: linear-gradient(to bottom, #CD1316 73%, #AD1013 100%)
.centroPagina
	width: 85%
	margin: 0 auto
.vcenter 
	display: inline-block
	vertical-align: middle
	float: none 