.todo 
	width: 100%
	max-width: 1250px
	margin: 0 auto
	background: white

body 
	background: #c6c5c5
	font-family: "MyriadRegular"

.marginNull
	margin: 0

.paddingNull
	padding: 0

.cuerpoIndex
	background: #f3f2f2
	padding-top: 3%
	padding-bottom: 3%

.lineaRoja
	height: 45px
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.73, #CD1316),color-stop(1, #AD1013))
	background-image: -o-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -moz-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -webkit-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: -ms-linear-gradient(bottom, #CD1316 73%, #AD1013 100%)
	background-image: linear-gradient(to bottom, #CD1316 73%, #AD1013 100%)
.centroPagina
	width: 85%
	margin: 0 auto
	.centro
		width: 95%
		margin-left: auto
		margin-right: auto
.rowNavegacion
	//margin-top: 5%
	margin-bottom: 5%	
	.titulo
		text-transform: uppercase
		text-decoration: underline
	span
		a:first-child
			color: #cd1315	
.vcenter 
	display: inline-block
	vertical-align: middle
	float: none 