#menuLogout
	color: #cc1315
.miniControles
	text-transform: uppercase
	padding-right: 3%
	color: #828181
	font-size: 10px
.divBienvenida
	div
		//margin-left: 1%
		text-transform: uppercase
		font-size: 12px
		.titulo
			color: #cd1315
		.nombre
			color: #828181
.contenidoHead
	padding-top: 1%
	padding-bottom: 1%
.logoHeader
	text-align: center
	img
		width: 78%
.areaAyuda
	text-align: right
	.divAyuda
		display: inline-block
.divFoto
	text-align: center
	img 
		width: 100%
		border-radius: 100%
		border: solid 1px #c93132
		padding: 8%
/*
	border: solid 1px #c93132*/

// idioma
@import "_idioma.sass"