@section estilosPersonalizados{
    
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/NotAllowed/stylei.css" />
    @*<link rel="stylesheet" href="~/Content/themes/iusback_theme/views/NotAllowed/media.css" />*@

}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
<div class="row marginNull centroPagina">
    <div class="centro">
        <div class="row marginNull rowNavegacion">
            <span>
                <a href="@Url.Action("Index","Home")">
                    Menu principal
                </a>
            </span>
        </div>
        <div class="cuerpoModulo">
            @*<img src="~/Content/themes/iusback_theme/img/general/sadcloud.png"/>*@
            <h2>No esta autorizado para ver esta pagina</h2>
            <p>
                Si cree que esto es un error y usted si posee permiso para ver la pagina solicitada
                contactese con soporte tecnico.
            </p>
        </div>    
    </div>
</div>


