@section estilosPersonalizados{

    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/NotAllowed/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/NotAllowed/media.css" />

}
<div class="cuerpoModulo">
    <img src="~/Content/themes/iusback_theme/img/general/sadcloud.png" />
    <h2>Parece llegaste al lugar equivocado</h2>
    <p>
        Archivo no encontrado, verifique la direccion solicitada, si considera que esto es un problema 
        y la pagina que solicita es valida por favor contacte a soporte tecnico y se le solventara el problema lo mas
        pronto posible.
    </p>
</div>
