@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/ConfiguracionWebsite/script.js"></script>
        <script src="~/Scripts/Views/ConfiguracionWebsite/functions.js"></script>
}
@section estilosPersonalizados{
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/ConfiguracionWebsite/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/ConfiguracionWebsite/media.css" />
}
<h2>Configuracion del sitio web</h2>

