@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Login/Indexi/script.js"></script>
    <script src="~/Scripts/views/Login/Indexi/functions.js"></script>
}
<h2>Pagina</h2>
