@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/login/LostPass/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/login/LostPass/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Login/LostPass/script.js"></script>
    <script src="~/Scripts/views/Login/LostPass/functions.js"></script>
}
@{
    int accion = (int)ViewBag.accion;
    int idUsuarioPublico = -1;
    int numVal = -1;
    string readMail = "";
    if (accion == 2)
    {
        //cambiar contraseña
        idUsuarioPublico    = (int)ViewBag.idUsuarioPublico;
        numVal              = (int)ViewBag.numVal;
        readMail            = "readonly";
    }
}
<div class="container">
    @*<input class="txtHdNum" value="" />*@
    <div class="card card-container " id="divLoginAdmin">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <form action="/" id="frmInvitado" method="post">
            <input type="hidden" class="txtHdAccion" name="txtHdAccion" value="@ViewBag.accion" />
            <input type="hidden" class="txtHdIdUsuario" name="txtHdIdUsuario" value="@idUsuarioPublico" />
            <input type="hidden" class="txtHdNumVal" name="txtHdNumVal" value="@numVal" />

            <label>Correo electronico: </label>
            <input type="email" id="inputEmail" class="form-control txtEmail" name="txtEmail" placeholder="Email address" required autofocus value="@ViewBag.correo" @readMail >
            <span class="visibilitiHidden"> </span>

            @if (accion == 2)
            {
                <input type="password" id="txtPass" class="form-control txtPass" name="txtPass" placeholder="Password" required autofocus>
                <span class="visibilitiHidden"> </span>
            }

            @*<input type="password" id="inputPassword" class="form-control txtPass" name="txtPass" placeholder="Password" required>
            <span class="visibilitiHidden"> </span>*@
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Recuperar contraseña</button>
            <div class="divMessageLogin">

            </div>
        </form>
    </div>
</div>

