@section estilosPersonalizados{
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionIdiomaWebsite/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionIdiomaWebsite/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/GestionIdiomaWebsite/script.js"></script>
        <script src="~/Scripts/Views/GestionIdiomaWebsite/functions.js"></script>
}
<h2>Traduccion del sitio web</h2>