@section estilosPersonalizados{
    <!-- plugins -->

    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/FormacionPersonas/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/FormacionPersonas/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/FormacionPersonas/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/FormacionPersonas/functions.js"></script>
}
@{
    
}
@section tabs{
    <ul>
        <a href="@Url.Action("Extras", "GestionPersonas",new {id=43})">
            <li>
                Informacion
            </li>
        </a>
        <li class="btnTab tabActive">
            Formacion
        </li>
        <a href="@Url.Action("Index","RepositorioPublico")">
            <li>
                Laboral
            </li>
        </a>
    </ul>
    
}
<table>
    <thead>
        <tr>
            <td>Carrera</td>
            <td>Año Inicio</td>
            <td>Año Fin</td>
            <td>Observaciones</td>
            <td>Estado</td>
        </tr>
        <tr>
            <td>
                <select class="cbCarrera">

                </select>
            </td>
            <td>
                <input name="txtYearInicio" class="txtYearInicio" />
            </td>
            <td>
                <input name="txtYearFin" class="txtYearFin" />
            </td>
            <td>
                <textarea name="txtAreaObservaciones" class="txtAreaObservaciones"></textarea>
            </td>
            <td>
                <input class="txtNombrePersona"/>
            </td>
            <td>
                <select class="cbEstadoCarrera">

                </select>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
