@section scriptsPersonalizados{
    <script src="~/Scripts/Views/GestionPersonas/script.js"></script>
    <script src="~/Scripts/Views/GestionPersonas/functions.js"></script>
}
<h2>Gestion de personas</h2>
