@using IUSLibs.SEC.Entidades
@section scriptsPersonalizados{
    <script src="~/Scripts/Views/GestionPersonas/script.js"></script>
    <script src="~/Scripts/Views/GestionPersonas/functions.js"></script>
}
@{
    List<Persona> personas = (List<Persona>)ViewBag.personas;
}
<h2 class="text-center">Gestion de personas</h2>

<table class="table table-hover tablePersonas">
    <thead>
        <tr class="controlGlobal hidden">
            <td colspan="3"></td>
            <td>
                <button class="btn btn-xs">Actualizar todo</button>
                <button class="btn btn-xs btnCancelarGlobal">
                    Cancelar todo
                </button>
            </td>
        </tr>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (personas != null)
        {
            foreach (Persona persona in personas)
            {
                <tr class="trPersona">
                    <td class="hidden">
                        <input type="hidden" name="txtHdIdPersona" class="txtHdIdPersona" value="@persona._idPersona">
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtNombrePersona" class="txtNombrePersona form-control"  />
                        </div>
                        <div class="normalMode tdNombre">@persona._nombres</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtApellidoPersona" class="txtApellidoPersona form-control" />
                        </div>
                        <div class="normalMode tdApellido">@persona._apellidos</div>
                        
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="dtFechaNacimiento" class="dtFechaNacimiento form-control" />
                        </div>
                        <div class="normalMode tdFechaNac">@persona.getFechaNac</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <button class="btn btn-xs btnEditMode btnActualizar "  >Actualizar</button>
                            <button class="btn btn-xs btnEditMode btnCancelarEdit">Cancelar</button>
                        </div>
                        <div class="normalMode">
                            <button class="btn btn-xs btnEditar">Editar</button>
                            <button class="btn btn-xs">Eliminar</button>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center">
                <td colspan="4">No hay registros para mostrar</td>
            </tr>
        }
    </tbody>
</table>
