.menuLateral{
    margin-top:40px;
    padding:0;
}
    .menuLateral li {
        width:100%;
        display:block;
        cursor:pointer;
        border:solid 1px black;
        margin-bottom:3%;
        padding-top:3%;
        padding-bottom:2%;
        padding-left:3%;
    }

    .menuLateral .imgLateral{
        width:70%;
        margin:0 auto;
        /*background:pink;*/
    }
    .menuLateral .colImgLateral{
        text-align:center;
        width:60%;
        display:inline-block;
    }
    
.texto{
    width:30%;
    display:inline-block;
    text-transform:uppercase;
}

.detalles{
    background:#f3f2f2;
    min-height:900px;
    /* Extras al usado en instituciones*/
    padding-right:3%;
    padding-left:3%;
}