.menuLateral{
    margin-top:40px;
    padding:0;
}
    .menuLateral li {
        width:100%;
        display:block;
        cursor:pointer;
        border:solid 1px black;
        margin-bottom:3%;
        padding-top:10%;
        padding-bottom:10%;
        padding-left:3%;
    }

    .menuLateral .imgLateral{
        width:50%;
        margin:0 auto;
        /*background:pink;*/
    }
    .menuLateral .colImgLateral{
        text-align:center;
        width:60%;
        display:inline-block;
    }
    
.texto{
    width:30%;
    display:inline-block;
    text-transform:uppercase;
}

.detalles{
    background:#f3f2f2;
    min-height:900px;
    /* Extras al usado en instituciones*/
    padding-right:3%;
    padding-left:3%;
}

.tablaFichero{
    margin-top:3%;
}
.tablaFichero tbody tr td, .tablaFichero thead tr th {
    text-transform:uppercase;
    text-align:center;
}
.tablaFichero thead tr th {
    color:#cd1315;
    font-size:0.8em;
    border-bottom:none;
}
.tablaFichero tbody tr td {
    font-size:0.6em;
    border:solid 1px #828181;
    color:#414141;
    vertical-align:middle;
}

.imgDownload{
    width:30%;
}
.divTitulo{
    margin-left:3%;
    margin-top:5%;
}
.divTitulo h3{
    color:#cc1315;
    text-transform:uppercase;
    font-size:1em;
}
    .divTitulo p {
        font-size:0.9em;
    }

.divSearch{
    border:  solid 1px #828181;
    height:45px;
    margin-top:2%;
}
.txtSearch{
    background:transparent;
    border:none;
    font-size:0.8em;
    resize:none;
}

.txtSearch::-webkit-input-placeholder{ 
    color: #040404; 
}
.divLupita{
    border-left: solid 1px #828181;
    
    border-right: solid 1px #828181;
    padding-left:1%;
    padding-right:1%;
    width:20%;
    height:100%;
    position:relative;
    text-align:center;
    vertical-align:middle;
    font-size:1.5em;
    padding-top:10px;
    
}