@import "../../../../generals/sass_sources/_universal.sass"
@import "../../../../generals/sass_sources/parts/plugins/_dataTable.sass"
@import "../../../../generals/sass_sources/parts/tabs/_tabs.sass"

.centroAprobar
	width: 95% 
	margin: 0 auto
.rowNavegacion
	margin-top: 5%
	
.th1
	width: 30%
.th2
	width: 40%
.th3
	width: 5%
.th4
	width: 15%
.th5
	width: 10%

