@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!-- tabs -->
        <link rel="stylesheet" href="~/Content/third-party/tabs-master/css/responsive-tabs.css"    />
        <!-- chosen -->
        <link rel="stylesheet" href="~/Content/third-party/chosen/css/chosen.min.css" />
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/gestionRoles/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/gestionRoles/media.css" />
}
@section scriptsPersonalizados{
    
    <!-- plugins -->
        <!-- tabs -->        
        <script src="~/Content/third-party/tabs-master/js/jquery.responsiveTabs.min.js"></script>
        <!-- chosen -->
        <script src="~/Content/third-party/chosen/js/chosen.jquery.min.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionRoles/script.js"></script>
        <script src="~/Scripts/Views/GestionRoles/functions.js"></script>
}
@{
    List<Usuario> usuarios = (List<Usuario>)ViewBag.usuarios;
    List<Rol> roles = (List < Rol >) ViewBag.roles;
}
<h2 class="text-center">Gestion de permisos</h2>
<div id="horizontalTab">
    <ul class="ulTabGeneral">
        <li>
            <a href="#tab-1">Asignar roles</a>
        </li>
        <li>
            <a href="#tab-2">Administracion de Roles</a>
        </li>
    </ul>
    <div id="tab-1" class="tab">
        <div class="row divControlRolUsuario">    
            <div class="col-lg-6">
                <div class="col-lg-4 text-right">
                    <label for="cbUsuarios">Seleccione usuario: </label>
                </div>
                <div class="col-lg-3">
                    <select class="form-control cbUsuarios">
                        <option></option>
                        @{
                            foreach (Usuario usuario in usuarios)
                            {
                                <option value="@usuario._idUsuario">@usuario._usuario</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-4 text-right">
                    <label for="cbRoles">Roles a agregar</label>
                </div>
                <div class="col-lg-3">
                    <select multiple class="form-control cbRoles ">
                        <option></option>
                        
                    </select>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary" type="button" id="btnAddRoles">Agregar roles</button>
                </div>
            </div>
        </div>
        <div class="row divRoles">
            <h2>Roles asignados a: <span class="spanUsuario"></span></h2>
            <table class="table table-striped tbRoles">
                <thead>
                    <tr>
                        <td>Rol</td>
                        <td>Estado Rol</td>
                        <td>Accion</td>
                    </tr>
                </thead>
                <tbody class="tbodyRolUsuario">
                    <tr>
                        <td colspan="3" class="text-center">Seleccione usuario para mostrar sus roles</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="tab-2" class="tab">
        <div class="row">
            <div class="col-lg-3">
                <select class="cbRolTab2 form-control">
                    <option></option>
                    @{
                        foreach (Rol rol in roles)
                        {
                            <option value="@rol._idRol">@rol._rol</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <h4>Sub menus</h4>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <h4>Permisos</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="col-lg-4">
                            <label>Seleccione un submenu</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control"></select>
                        </div>
                        <div class="col-lg-4">
                            <button>Asignar submenu</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="col-lg-6">
                            <select>
                                <option>Asignar Permiso</option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn">Asignar permiso</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <table class="table table-striped tbMenus">
                            <thead>
                                <tr>
                                    <th>Menu</th>
                                    <th>Sub menu</th>
                                    <th>Enlace</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3" class="text-center">
                                        Seleccione un rol para ver sus menus asociados
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-striped tbPermisos">
                            <thead>
                                <tr>
                                    <th>Permiso</th>
                                    <th>Accion </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">Seleccione sub menu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>