@using IUSLibs.ADMINFE.Entidades;
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Eventos/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Eventos/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Eventos/script.js"></script>
    <script src="~/Scripts/views/Eventos/functions.js"></script>
}
@{
    List<Evento> eventosHoy = (List<Evento>)ViewBag.eventosHoy;
}
<div class="row marginNull rowCuerpo">
    <!--<h2 class="titlePage">Eventos</h2>-->
    <div class="col-lg-3">
        <div class="row marginNull">
            <h3>Busqueda</h3>
            <div class="divAtomBusqueda">
                <div class="col-lg-12 ckSeccion">
                    <input type="checkbox" name="ckFechas" />
                    <span>Por rango de fechas</span>
                </div>
                <div class="col-lg-12 inputsBusquedaSeccion">
                    <div class="col-lg-6">
                        <label>Inicio</label>
                        <input class="form-control" />
                    </div>
                    <div class="col-lg-6">
                        <label>Fin</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="divAtomBusqueda">
                <div class="col-lg-12 ckSeccion">
                    <input type="checkbox" name="ckNombre" />
                    <span>Por nombre</span>
                </div>
                <div class="col-lg-12 inputsBusquedaSeccion">
                    <input type="text" class="form-control" placeholder="Ingrese el nombre el evento" />
                </div>
            </div>
            <div class="divAtomBusqueda">
                <button class="btn">Buscar</button>
            </div>
        </div>
        <div class="row marginNull">
            <h3>Comentarios</h3>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row marginNull divResultadoBusqueda" style="display:none">
            <div class="row marginNull divSeparadorFecha">
                <div class="col-lg-1">
                    <hr class="hrSeperaFechas" />
                </div>
                <div class="col-lg-2">
                    <h4>Busqueda</h4>
                </div>
                <div class="col-lg-9">
                    <hr class="hrSeperaFechas" />
                </div>
            </div>
            <div class="divEventos">
                <div>

                </div>
            </div>
        </div>
        
        <div class="row marginNull divSeparadorFecha">
            <div class="col-lg-1">
                <hr class="hrSeperaFechas" />
            </div>
            <div class="col-lg-1 pointer btnDesplegarEventos">
                <h4>Hoy</h4>
            </div>
            <div class="col-lg-10">
                <hr class="hrSeperaFechas" />
            </div>
        </div>
        <div class="divEventos row">
            @if (eventosHoy.Count > 0)
            {
                foreach (Evento evento in eventosHoy)
                {
                    <div class="evento col-lg-6">
                        <div class="cuadritoEvento">
                            <div class="row marginNull divTitle">
                                <div class="col-lg-3 imagenEvento">
                                    <img src="~/Content/images/generales/calendar.png" />
                                </div>
                                <div class="col-lg-9 tituloEvento">
                                    <h4>@evento._evento</h4>
                                    <div class="fechaEvento">
                                        12/05/2014 1:45pm
                                    </div>
                                </div>
                            </div>
                            <div class="row marginNull divCuerpo">
                                <p>
                                    @evento._descripcion 
                                    <span class="spanLeerMas">
                                        <a href="#">Leer mas</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            <!--
            <div class="evento col-lg-6">
                <div class="cuadritoEvento">
                    <div class="row marginNull divTitle">
                        <div class="col-lg-3 imagenEvento">
                            <img src="~/Content/images/generales/calendar.png" />
                        </div>
                        <div class="col-lg-9 tituloEvento">
                            <h4>Reunion de colegios salesianos en ciudadela Don Bosco</h4>
                            <div class="fechaEvento">
                                12/05/2014 1:45pm
                            </div>
                        </div>
                    </div>
                    <div class="row marginNull divCuerpo">
                        <p>
                            Reunion en el colegio don bosco por motivos de que todos se van a graduar y bla bla bla
                            pasaran muchas cosas y quien sabe D: , Reunion en el colegio don bosco por motivos de que todos se van a graduar.
                        </p>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row marginNull divSeparadorFecha">
            <div class="col-lg-1">
                <hr class="hrSeperaFechas" />
            </div>
            <div class="col-lg-1 pointer btnDesplegarEventos">
                <h4>Mes</h4>
            </div>
            <div class="col-lg-10">
                <hr class="hrSeperaFechas" />
            </div>
        </div>
        <div class="divEventos">
            <div>

            </div>
        </div>
    </div>
</div>
