/* Controles */
.controlCurriculum{
    margin-top:3%;
}
.controlesBusqueda{
    text-align:center;
    margin-top:3%;
}
.detallesFinales{
    margin-top:3%;
}

.rowDispararAccion{
    margin-top:3%;
}
/* tabla  */
.tablaPersona{
    margin-top:3%;
}

.btnBusquedaPerfil{
    margin-bottom:5%;
}

/*Encabezado ficha*/
.divEncabezadoFicha{
    margin-top:5%;
}
.fotoEncabezadoFicha{
    margin-top:3%;
}
.divEncabezadoFicha .informacionBasica{
    padding-left:4%;
    padding-top:4%;
}
.fotoPrincipalFicha{
    width:50%;
}
/* Cuerpo ficha */
.tituloCuerpoInformacion{
    margin-top:2%;
    margin-bottom:4%;
}