/* Controles */
.controlCurriculum{
    margin-top:3%;
}
.controlesBusqueda{
    text-align:center;
    margin-top:3%;
}
.detallesFinales{
    margin-top:3%;
}

.rowDispararAccion{
    margin-top:3%;
}
/* tabla  */
.tablaPersona{
    margin-top:3%;
}