@section estilosPersonalizados{
    <!-- plugins -->
    <!--Data table-->
    <link rel="stylesheet" href="~/Content/third-party/datatable/css/jquery.dataTables.min.css" />
    <!-- propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/comentarios/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/comentarios/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
    <!-- Data table -->
    <script src="~/Content/third-party/datatable/js/jquery.dataTables.js"></script>
    <!-- propios -->
    <script src="~/Scripts/Views/Administracion/Noticias/comentarios/script.js"></script>
    <script src="~/Scripts/Views/Administracion/Noticias/comentarios/functions.js"></script>
}
<div class="row marginNull">
    <table class="table">
        <thead>
            <tr>
                <th>Comentarios</th>
                <th>Correo electrónico</th>
                <th>IP que se realizo</th>
            </tr>
        </thead>
    </table>
</div>