@using IUSLibs.ADMINFE.Entidades.Noticias
@{
    List<Post> posts = (List<Post>)ViewBag.noticias;
}
<footer>
    <div class="row feedSection marginNull">
       @if (posts != null)
       {
           foreach (Post post in posts)
           {
                <div class="col-lg-6">
                    <div class="col-lg-2 imgFeedNoticia">
                        <img src="~/Content/images/test/cruz.png" />
                    </div>
                    <div class="col-lg-10 cuerpoFeedNoticia">
                        <h3>@post._titulo</h3>
                        <p>
                            @post._contenido...<span class="leerMas">Leer mas</span>
                        </p>
                    </div>
                </div>
           }
            
       }
       else
       {
           <div class="col-lg-12 text-center"><h4>No hay noticias para mostrar</h4></div>
       }
    </div>
    <div class="row marginNull copyRight">
        <span>Instituciones Salesianas de Educación Superior</span>
        <span>2015 Derechos Reservados</span>
        <span>Desarrollado por: CTIC El Salvador</span>
    </div>
</footer>