<footer>
    <div class="row feedSection marginNull">
        <div class="col-lg-6">
            <div class="col-lg-2 imgFeedNoticia">
                <img src="~/Content/images/test/cruz.png" />
            </div>
            <div class="col-lg-10 cuerpoFeedNoticia">
                <h3>Se reduce el hambre en africa</h3>
                <p>
                    Este sera un breve contnido de la noticia uno
                    donde se dara a conocer la noticia para que luego
                    todo termine en un...<span class="leerMas">Leer mas</span>
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-2 imgFeedNoticia">
                <img src="~/Content/images/test/cruz.png" />
            </div>
            <div class="col-lg-10 cuerpoFeedNoticia">
                <h3>Se reduce el hambre en africa</h3>
                <p>
                    Este sera un breve contnido de la noticia uno
                    donde se dara a conocer la noticia para que luego
                    todo termine en un...<span class="leerMas">Leer mas</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row marginNull copyRight">
        <span>Instituciones Salesianas de Educación Superior</span>
        <span>2015 Derechos Reservados</span>
        <span>Desarrollado por: CTIC El Salvador</span>
    </div>
</footer>