@using IUSLibs.ADMINFE.Entidades.Noticias
@{
    //List<Post> posts = (List<Post>)ViewBag.noticias;
    
}
<footer>
    <div class="row marginNull copyRight">
        <span>@ViewData["copyright-1"]</span>
        <span>@ViewData["copyright-2"]</span>
        <span>@ViewData["copyright-3"]</span>
    </div>
</footer>