.caja {
   margin:20px auto 40px auto;	
   border:1px solid #cd1315;
   height:30px;
   overflow: hidden;
   width: 80%;
   position:relative;
   display:table-cell;
   vertical-align:bottom;
}
select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 100%;
}
select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:#cd1315;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
    color:white;
}
.padreCaja{
    width:60%;
    display:inline-block;
}
.cajaArriba{
    display:table;
    width:100%;
}
.centroPagina{
    width:85%;
    margin:0 auto;
    
}
/*header*/
    header{
        margin-top:0;
    }
    .logoHeaderSection{
        text-align:center;
        padding-top:2%;
    }
    .logoHeaderSection img{
        width:90%;
        margin:0 auto;
    }
        
    /* Menu */
    .divSectionIdioma{
        height:100px;
        display:table;
        text-align:center;
    }
    .divSectionIdioma span{
        text-transform:uppercase;
        color:#b6b5b5;
        margin-right:3%;
        font-weight:bold;
        margin-bottom:5px;

    }
    .otroDiv{
        display:table-cell;
        vertical-align:bottom;
        height:50px;

    }
    .navPrincipal{
        text-align:right;
    }
    .navPrincipal ul{
        text-transform:uppercase;

    }
        .navPrincipal ul li {
            padding-top:15%;
            padding-bottom:2%;
            height:100px;
            width:19%;
            text-align:center;
        }
            .navPrincipal ul li a {
                color:#919191;
                font-weight:normal;
                font-size:0.8em;
            }
        .activeMenu{
            cursor:pointer;
            background:#cd1315;
        }
            .activeMenu a {
                color:#ffffff !important;
            }
    /**/
    .subSeccion{
        font-family:MyriadRegular;
        text-transform:uppercase;
        color:#828181;
        margin-bottom:1%;
    }
    .rowSearch{
        background:#eeecec;
        padding-top:1%;
        padding-bottom:1%;

    }
    .inputSearch{
        border-radius:20px;
    }
    /*Slider*/
    .rowSlider img{
        width:100%;
    }
    .bloque{
        margin-top:3%;
    }
    .bloque h2{
        background:#cd1315;
        padding-top:3%;
        padding-bottom:3%;
        padding-left:3%;
        color:#ffffff;
        text-transform:uppercase;
        font-family:"MyriadRegular";
        margin-bottom:0;
        margin-top:0%;
    }
    .divBloques{
        margin-top:-7.7%;
        background:#f3f2f2;
        padding-bottom:8%;
    }
    .bloque img{
        margin:0;
        width:100%;
    }
    /**/
    .seccionNoticiaEvento{
        padding-top:10%;
        padding-bottom:10%;
    }
    .seccionNoticiaEvento h2{
        color:#cd1315;
        font-family:"MyriadRegular";
    }
    .tituloSeccionNoticiaEvento{
        margin-left:3%;
    }
    .divLinkNotiEve{
        width:100%;
        text-align:right;
        
        display:block;
    }
    .aLeerMas{
        color:#1f1f1f;
        text-transform:uppercase;
    }
    .notiEve{
        margin-top:3%;
    }
        .notiEve h4 {
            font-family:"MyriadBold";
            font-weight:bold;
            margin-bottom:4%;
        }
    .imgNotiEve{
        width:100%;
    }
    .contentImgNotiEve{
        padding:0;
    }
    .seccionContenidoNotiEve{
        display:table;
        /*background:pink;*/
        min-height:200px;
    }
    .seccionContenidoNotiEve .contenido{
        display:table-cell;
        vertical-align:middle;
        height:100px;
        width:100%;
    }
    /* Hover de noticia evento*/
    .divHoverNotiEve{
        background:#474747;
        opacity:0.5;
        position:absolute;
        z-index:1;
        width:100%;
        height:100%;
        
        
    }
    .text-tituloNotiEve{
        position:absolute;
        z-index:2;
        color:white;
        font-size:3em;
        left:36%;
        top:36%;
    }
    /* Footer */
    .footer{
        padding-top:8%;
        background:#dddbdb;
        padding-bottom:20%;
    }
        .footer img {
            -webkit-filter: grayscale(100%);
            filter:grayscale("100%");
            opacity:0.5;
            width:35%;
            margin:0 auto;
        }
    .footerText{
        text-transform:uppercase;
        font-size:1em;
        color:#929292;
    }
    .imgIcoHeader{
        margin-right:2%;
    }