// vars 
$regularFont: "MyriadRegular"
$rojito: #cd1315
// styles
.bloqueLink
	cursor: pointer

.rowSlider
	img
		width: 100%
.fechaHoraEvento
	margin-bottom: 2%
	.colorResaltado
		color: $rojito
.bloque 
	margin-top: 3%
	h2
		background: $rojito
		padding-top: 3%
		padding-bottom: 3%
		padding-left: 3%
		color: #ffffff
		text-transform: uppercase
		font-family: $regularFont
		margin-bottom: 0
		margin-top: 0%

.divBloques
	margin-top: -7.7%
	background: #f3f2f2
	padding-bottom: 8%

.bloque img
	margin: 0
	width: 100%

.slider 
	position: relative
	img
		width: 100%

.navs
	position: absolute
	top: 50%

.noSliderDiv
	min-height: 50px
	text-align: center
	padding-top: 5% 
	padding-bottom: 5%

.navBtn
	background: rgba(238,236,236, 0.5)
	border-radius: 100px
	padding: 16%
	display: inline-block
	font-size: 2em
	width: 50px
	text-align: center

.footer
	margin-top: 0

@media  (max-width:992px)  //(min-width: 400px) and
	.bloque h2
		font-size: 1.5em
	.seccionContenidoNotiEve 
		.contenido
			display: block
@media  (max-width:768px)  //(min-width: 400px) and
	.bloque 
		text-align: center
		h2,img 
			width: 70%
			margin: 0 auto

	.seccionContenidoNotiEve
		width: 100%
	.notiEve 
		h4
			text-align: center
			margin-top: 4%
		.pDescripcionNotiEve
			margin-bottom: 5%
@media  (max-width:600px)  //(min-width: 400px) and
	.bloque 
		h2,img 
			width: 85%
@media  (max-width:540px)  //(min-width: 400px) and
	.bloque 
		h2,img 
			width: 90%
@media  (max-width:450px)  //(min-width: 400px) and
	.navs
		height: 100%
		top: 0

	.padreNavBtn
		float: left
		background: rgba(238, 236, 236, 0.5)
		padding: 0
		height: 100%
		text-align: center
		margin: 0
		left: -5%
		padding-right: 10%
		top: 0
	.padreNavBtn:last-child
		left: 5%
		float: right
	.navBtn
		padding: 0
		width: auto
		position: absolute
		left: 15%
		top: 45% !important
		background: none
	.notiEve
		width: 95%
		margin: 0 auto	
		margin-top: 5%
		background: #eeecec