// imports 
@import "../recursoSass/_menuLateral.sass"
@import "../../../generals/sass_sources/_variables.sass"
@import "../recursoSass/_variables.sass"
@import "../recursoSass/_contenidoDerecha.sass"

.td1,.td3
    width: 20%
.td2
    width: 50%
.td4
    width: 10%
.detalles
    height: 780px

// estilos
.divInfoInstituciones
    p
        font-size: 14px
.tituloDetalles
    margin-top: 40px
    color: $negrito //#cc1315
    //text-transform: uppercase
    font-size: 16px
    font-weight: bold
.centroInstituciones
    padding-left: 3%
    padding-right: 3%

.activeInstitucion
    border-color: #cd1315 !important
    color: #cd1315
    font-weight: bold

.divContenedorTexto,.contenedorImgPrincipal
    width: 90%

.contenedorImgPrincipal
    margin-top: 40px !important
    /*width: 90%*/
    /*margin: 0 auto*/

    border:  solid 1px #cd1315
    padding-top: 20px
    padding-bottom: 20px
    text-align: center

.imgPrincipal
    margin: 0 auto
    width: 95%

.contenidoCuerpo
    border-bottom: solid 1px #cd1315
    padding-bottom:  60px

.tablaInstitucion
    margin-top: 3%
    tbody tr td,thead tr th
        //text-transform: uppercase
        text-align: center
    tbody 
        tr 
            td
                font-size: 12px
                border: solid 1px #828181
                color: $negrito
                vertical-align: middle
    thead 
        tr 
            th
                color: $negrito //#cd1315
                font-size: 14px
                border-bottom: none

.divTel
    a
        color: $negrito

.paginador
    cursor: pointer
    display: inline-block
    // margin-right: 1%
    // margin-left: 1%
    border: solid 1px #828181
    width: 30px
    text-align: center
    padding-top: 1%
    padding-bottom: 1%
.tdPaginador
    text-align: center
    font-size: 0.8em
.tdLink
    a
        color: $negrito
.tdNombre
    text-align: left !important
.activeNumber
    border-color: $rojito
.activePaginador
    color: $rojito
    font-weight: bold
.tituloInstituciones
    //text-transform: uppercase
    color: #cd1315
    font-size: 1em
