.menuLateral{
    margin-top:80px;
    padding:0;
}
    .menuLateral li {
        width:100%;
        display:block;
        cursor:pointer;
        border:solid 1px black;
        margin-bottom:3%;
        padding-top:3%;
        padding-bottom:2%;
        padding-left:3%;
    }
    
.menuLateral .imgMap{
    width:80%;
    margin:0 auto;
}
.menuLateral .colImgMap{
    text-align:center;
    width:60%;
    display:inline-block;
}
.texto{
    width:30%;
    display:inline-block;
    text-transform:uppercase;
}
.detalles{
    background:#f3f2f2;
}
.tituloDetalles{
    margin-top:80px;
    color:#cc1315;
    text-transform:uppercase;
    font-size:1em;
}
.centroInstituciones{
    padding-left:3%;
    padding-right:3%;
}
/*
.vertical-align {
    display: flex;
    align-items: center;
}*/