.folders{
    margin-top:5%;
}
.folder{
    text-align:center;
    min-height:200px;
}
.folder img{
    width:30%;/* cambia con respecto al backend*/    
}
.tituloPrincipal{
    text-align:center;
    margin-top:5%;
}
.divBusqueda{
    margin-top:3%;
}