@using IUSLibs.RRHH.Entidades.Formacion
@using IUSLibs.FrontUI.Entidades
@section estilosPersonalizados{
    <!-- Propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/RecursosHumanos/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/RecursosHumanos/media.css" />
}
@{
    List<NivelTitulo> nivelesTitulos = null; Dictionary<object, object> objInicial = null;
    List<Pais> paises = null;
    try
    {
        objInicial      = (Dictionary<object, object>)ViewBag.objInicial;
        if (objInicial != null)
        {
            nivelesTitulos  = ( List<NivelTitulo> ) objInicial["nivelesTitulos"];
            paises          = ( List<Pais> )        objInicial["paises"];
            
        }
    }
    catch (Exception)
    {
        
    }
}
<div class="row marginNull">
    <div class="row marginNull controlCurriculum">
        <div class="col-lg-6">
            <h3 class="text-center ">Formación</h3>
            <div class="row marginNull controlesBusqueda controlesCurriculum">
                <div class="row marginNull">
                    <div class="col-lg-3">
                        <input type="checkbox" /><label>Nivel</label>
                        <select class="form-control">
                            <option value="-1">Todos</option>
                            @if (nivelesTitulos != null)
                            {
                                foreach (NivelTitulo nivelTitulo in nivelesTitulos)
                                {
                                    <option value="@nivelTitulo._idNivel">@nivelTitulo._nombreNivel</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <input type="checkbox" /><label>Area carrera</label>
                        <select class="form-control"></select>
                    </div>
                    <div class="col-lg-3">
                        <input type="checkbox" /><label>Carrera</label>
                        <select class="form-control"></select>
                    </div>
                    <div class="col-lg-3">
                        <input type="checkbox" /><label>Estado carrera</label>
                        <select class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-lg-6">
            <h3>Laboral</h3>
            <div class="row marginNull controlesBusqueda controlesCurriculum">
                <div class="col-lg-3">
                    <label>Rubro empresa</label>
                    <select class="form-control"></select>
                </div>
                <div class="col-lg-3">
                    <label>Cargos</label>
                    <select class="form-control"></select>
                </div>
                <div class="col-lg-3">
                    <label>Actividades</label>
                    <select class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginNull detallesFinales">
        <h3 class="text-center ">Información adicional</h3>
        <div class="row controlesBusqueda marginNull">
            <div class="col-lg-3">
                <label>Modo de busqueda</label>
                <select class="form-control">
                    <option value="1">Academico y laboral</option>
                    <option value="2">Academico o laboral</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label>País de origen</label>
                <select class="form-control">
                    <option value="-1">Cualquiera</option>
                    @if (paises != null)
                    {
                        foreach (Pais pais in paises)
                        {
                            <option value="@pais._idPais">@pais._pais</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-3">
                <label>Estado civil</label>
                <select class="form-control"></select>
            </div>
        </div>
    </div>
    
    <div class="row marginNull">
        <table class="table tablaPersona">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>    
    </div>
</div>

