<div class="row marginNull">
    <div class="col-lg-6">
        <h3 class="text-center ">Formación</h3>
        <div class="row marginNull">
            <div class="row marginNull">
                <div class="col-lg-4">
                    <input type="checkbox" /><label>Nivel</label>
                    <select class="form-control"></select>
                </div>
                <div class="col-lg-4">
                    <input type="checkbox" /><label>Area carrera</label>
                    <select class="form-control"></select>
                </div>
                <div class="col-lg-4">
                    <input type="checkbox" /><label>Carrera</label>
                    <select class="form-control"></select>
                </div>
            </div>
            
        </div>
        

    </div>
    <div class="text-center col-lg-6">
        <h3>Laboral</h3>
    </div>
</div>

