@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    //List<NoticiaEvento> noticiasEventos = (List<NoticiaEvento>)ViewBag.notiEvento;
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Home/Indexi/script.js"></script>
    <script src="~/Scripts/views/Home/Indexi/functions.js"></script>
}
<div class="row marginNull lineaRoja">

</div>
<h2>Indexi</h2>
