@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/media.css" />
}
<div class="row marginNull busquedaRepo" >
    <div class="col-lg-3 seleccion">
        <a href="@Url.Action("AllFiles","Repositorio")">
            <img src="~/Content/images/views/Repositorio/cloud.png">
            <h3>Todo</h3>
        </a>
    </div>
    <div class="col-lg-3 seleccion">
        <img src="~/Content/images/views/Repositorio/image.png">
        <h3>Imagenes</h3>
    </div>
    <div class="col-lg-3 seleccion">
        <img src="~/Content/images/views/Repositorio/video.png">
        <h3>Videos</h3>
    </div>
    <div class="col-lg-3 seleccion">
        <img src="~/Content/images/views/Repositorio/wordico.png">
        <h3>Documentos</h3>
    </div>
    <div class="col-lg-3 seleccion">
        <img src="~/Content/images/views/Repositorio/powerpoint-ico.png">
        <h3>Presentaciones</h3>
    </div>
</div>
