/* Input upload */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background:#DDDDDD;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* ************************** */
.contenidoModulo{
    text-align:center;
}
.divImgThumbnail{
    margin-top:4%;
}
.divImgThumbnail .imgThumbnail{
    width:200px;
    height:200px;
}