@import "../../generals/sass_sources/_universal.sass";
@import "../../generals/sass_sources/parts/plugins/_dataTable.sass";

.cuerpoModulo, .tabsHeader {
  margin-top: 0%;
}

.tabsHeader {
  display: none;
}

.tablaUniversal thead tr:nth-child(3) th {
  border-bottom: none;
}

.tablaUniversal thead tr th {
  vertical-align: top;
}
