.activeNum{
    background:#5BABE0 !important;
    color:#F5F5F5 !important;
}
.num{
    width:10%;
    background:#F5F5F5;
    color:#5BABE0;
    margin-right:2%;
    display:inline-block;
    font-weight:bold;
    padding-top:1%;
    padding-bottom:1%;
}
.divContenedorNumeritos{
    text-align:center;
    margin-bottom:4%;
}
/*******************/
.RowControlesFiltro{
    margin-top:3%;
}
.divTarjetasNoticias{
    margin-top:5%;
    margin-bottom:5%;
}
.imgNoticiaTarjeta{
    text-align:center;
    margin-bottom:3%;
}
.imgNoticiaTarjeta img{
    width:40%;
    margin-top:3%;
    margin-bottom:3%;
}
/* p height */
.footerPanel{
    height:auto !important;
}
.pPost{
    overflow-y:scroll;
    padding-right:2%;
    height:100px;
    text-align:justify;
}
.bodyPanel{
    height:350px;
}
.titulo{
    margin-top:3%;
}
.divDataGuiaBusqueda{
    margin-top:3%;
    padding-left:2%;

}