/* test */
    .pink{
        background: pink;
    }
    .green{
        background:green;
    }
    .gray{
        background:grey;
    }
/* end test */
/*Header */
.preheader{
    margin-top:1%;
    margin-bottom:1%;
}
.loginPedazo{
    text-align: center;
}
.loginPedazo img{
    width:7%;
    display:inline-block;
    
}
.loginPedazo span{
    vertical-align:middle;
    margin-left:2%;
}
.txtSearchGlobal{
    width:50%;
    display:inline-block;
    margin-left:3%;
}
header.container-fluid{
    padding:0;
}
.menuSection{
    background:#95a5a6;
    padding:0;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
.logoMenuSection{
    text-align:center;
}
.logoMenuSection img{
    width:40%;
}
.navMenu{
    
    vertical-align:middle;
}
.navMenu ul li{
    display:inline-block;
    list-style:none;
    /*margin-left: 3%;*/
    vertical-align:middle;
    text-align:center;
}
.navMenu ul li a{
    color:white;
    font-family:'circula';
    font-size:2em;
}
.menuBlock,.imgMenuBlock{
    display:inline-block;
    vertical-align:middle;
}
.imgMenuBlock {
    width: 18%;
}
.menuBlock{
    width:40%;
    margin:0;
}
.socialSeccion{
    text-align:right;
}
/*End header*/
/*Body*/
.slider{
    position:relative;
}
.navSlider{
    position: absolute;
    top:50%;
    width:100%;
}
.navSlide:nth-child(2){
    text-align:right;
}
.navSlide i{
    font-size:3em;
    background:black;
    padding:5%;
    color:white;
    cursor:pointer;
}
.slider img{
    width:100%;
}
.contenido{
    /*min-height:500px;*/
    padding:0;
    padding-top:3%;
    padding-bottom:3%;
}
.contenido h2{
    color:#5dd7fc;
    font-family:'circula';
    text-align:center;
    margin-bottom:8%;
}
.eventosSection{
    text-align:center;
}
.suscribirseSection{
    text-align:center;
}
.btnSuscribir{
    margin-top:4%;
}
.eventoColumn{
    cursor:pointer;
}
/*End body*/
/*Footer*/
.prefooter{
    background:#bdc3c7;
    padding-top:3%;
    padding-bottom:3%;
}
.prefooter h3 {
    color:white;
    font-weight:bold;
    margin:0;
    margin-left:2%;
    font-size:2.4em;
}
.lineaTwitter{
    color:white;
    width:50%;
    margin:0;
}
.tweets{
    margin-top:3%;
    padding:0;
}
.iconTweet{
    text-align:center;
    text-align:right;
}
.iconTweet img{
    width:40%;
}
.rowTweet{
    display:inline-block;
    vertical-align:middle;
    margin-top:2%;
    
}
.rowTweet:nth-child(1){
    width:18%;
}
.rowTweet:nth-child(2){
    width:80%;
}
.bajoFooter{
    background:#95a5a6;
    text-align:center;
    color:white;
    padding-top:1%;
    padding-bottom:1%;
}

/*End footer*/