@using IUSLibs.FrontUI.Entidades;
@section estilosPersonalizados{
    <!-- propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
    <script src="~/Scripts/Views/GestionInstituciones/SetTel/script.js"></script>
    <script src="~/Scripts/Views/GestionInstituciones/SetTel/functions.js"></script>
}
<div class="row marginNull">
    <table class="table">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>