@font-face{
    font-family:'trackp';
    src: url("../../fonts/track/Track.ttf");
}
@font-face{
    font-family:'latop';
    src: url("../../fonts/lato/Lato-Regular.ttf");
}
@font-face{
    font-family:'circulap';
    src:url("../../fonts/circula/circula-medium.ttf");
}

@font-face{
    font-family:'junctionpBold';
    src:url("../../fonts/junction/junction-bold.ttf");
}   
@font-face{
    font-family:'junctionp';
    src:url("../../fonts/junction/junction-regular.ttf");
}   
/*
@font-face{
    font-family:'trackp';
    src: url("../../../fonts/track/Track.otf");
}
@font-face{
    font-family:'latop';
    src: url("../../../fonts/lato/Lato-Regular.ttf");
}
@font-face{
    font-family:'circulap';
    src:url("../../../fonts/circula/circula-medium.otf");
}*/