/* Maxs */
        @media (max-width:500px) {
            /* Header */
            .liSeach{
                display:none;
            }
            .mobileButton{
                display:block;
            }
        }
        @media (max-width:1200px) {
            .logoHeaderDiv{
                text-align:center;
            }
            /*Menu 1*/
                nav ul{
                    text-align:center;
                }
                .menu{
                    margin-left:0%;
                    border-radius:0;
                }
            /* Menu 2*/
                .menu2 {
                    margin-top: 0;
                }
        }
/* Standares */
@media (min-width: 300px) and (max-width:400px) {
    body{
        background:pink;
    }
}
@media (min-width: 400px) and (max-width:500px) {
    
    /* Header */
        .liSeach{
            display:none;
        }
        .mobileButton{
            display:block;
        }
        .ulMenu{
             padding-top:0;
             padding-bottom:0;
             display:none;
        }
        .menu2 ul li:last-child{
            width:50%;
        }
        nav ul li:first-child, .menu2 ul li:first-child {
            margin-top:2%;
        }
        nav ul li:last-child, .menu2 ul li:last-child {
            margin-bottom:0;
        }
        nav ul li, .menu2 ul li{
            width:100%;
            margin:0;
            padding-bottom: 5%;
            padding-top: 5%;
            
            /*margin-bottom:5%;*/
            border-bottom: solid 1px #2c3e50;
        }
}
@media (min-width: 500px) and (max-width:600px) {
    
    /* Header */
        nav ul li, .menu2 ul li{
            width:49%;
            margin-bottom:4%;
        }
        .ulMenu li:last-child {
            width:50%;
            margin-bottom:0;
        }
}
@media (min-width: 600px) and (max-width:700px) {
    /* Header */
        nav ul li, .menu2 ul li{
            width:49%;
            margin-bottom:4%;
        }
        .ulMenu li:last-child {
            width:50%;
            margin-bottom:0;
        }
}
@media (min-width: 700px) and (max-width:800px) {
    
    /* Header */
        nav ul li, .menu2 ul li{
            width:20%;
        }
        .ulMenu li:last-child{
            margin-top:2%;
            width:30%;
            padding:0;
        }
        .txtSearchGlobal{
            width:100%;
        }
}
@media (min-width: 1100px) and (max-width:1200px){
    
    /*Header */
        
            
        /* Menu 2*/
            .menu2 ul li:last-child{
                
            }
    
}
@media (min-width: 1200px) and (max-width:1300px) {
}
@media (min-width: 1300px) and (max-width:1400px)
{
    
}
