/*
    */
/*.colNoticia{
    color:black;
    
}
    
  */
.colNoticia p {
    text-align: justify;
    height:80px;
}  
/*
    Mensajeria 
    */
.successMessage{
    color:#2ecc71;
}
.failMessage{
    color:#e74c3c;
}
/*********************************/
/*
    pruebas
    */

.visiHidden{
    visibility:hidden;
}
.pink{
    background:pink;
}
.green{
    background:green;
}
.yellow{
    background:yellow;
}


/*
    Generales
    */
.paddingNull{
    padding:0;
}
.marginNull{
    margin:0;
}
.pointer{
    cursor:pointer;
}

/*
    Header
    */
header{
    margin:0;
    margin-top:2%;
}
    /*
        Generales menu
        */
    /* mobilebutton */
        .menu .mobileButton .fa-bars {
            color:white;
        }
        .mobileButton .fa-bars{
            font-size:1.5em;
            margin-left:5%;
            margin-top: 3%;
            margin-bottom:3%;
            cursor:pointer;
        }
        .mobileButton {
            display:none;
            text-align:left;
            
        }
    /*********/
    nav ul li,.menu2 ul li {
        display:inline-block;
        width:15%;
        
    }
    nav ul li a:hover, .menu2 ul li a:hover {
        text-decoration:none;
    }
    .menu,.menu2{
        padding:0;
        padding-top:20px;
        padding-bottom:20px;
    }
    .menu2 ul,nav ul{
        padding:0;
        margin:0;
    }
    /*
        Menu 1
        */
    nav ul li{
        margin:0;
        padding-left:2%;
        padding-right:2%;
        vertical-align:middle;
        text-align:center;
    }
    .liSeach{
        width: 25%;
    }
    nav ul li a{
        color:white;
        font-weight:bold;
        font-family:'trackp';
    }
    nav ul li {
        font-size:1em;
    }
    .menu{
        background:#D4242F;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
        /*padding:0;*/
        
        margin-top:35px;
        margin-left:5%;
    }
    /*
        Menu 2
        */
    .menu2{
        text-align:center;
        background:#f5f5f5;
        margin-top:2.5%;
        margin-bottom:0;
    }
    .menu2 ul li a {
        font-family:'latop';
        color:black;
        font-size:1em;
        font-weight:bold;
    }
/*
    Footer
    */
    /*
        Feed noticias 
        */
        .rowTodas{
            margin-top:3%;
            background: #A0B4BD;
        }
        .feedSection{
            background:#ecf0f1;
            padding-top:2%;
            /*padding-bottom:1%;*/

        }
        .cuerpoFeedNoticia, .imgFeedNoticia{
            margin-top:3%;
        }
        .feedSection h3{
            /*font-family:'circulap';*/
            margin-top:0;
            font-family:'latop';
        }
        .cuerpoFeedNoticia{
            text-align:center;
        }
        .imgFeedNoticia img{
            width:100%;
        }
        .leerMas{
            display:block;
            color:#479fdd;
            cursor:pointer;
        }
    /*
        CopyRight
        */
        .copyRight{
            background:#95a5a6;
            text-align:center;
            padding-top:1%;
            padding-bottom:1%;
        }
        .copyRight span{
            display:block;
            color:white;
        }

.menu2 .activeMenu{
    color: #3498db !important;
}
.menu .activeMenu{
    color:wheat;
}

/********************/
.colNoticia{
    padding-left:2%;
    padding-right:2%;
}
.hVerTodos{
    margin-top:1% !important;
    margin-bottom:1%;
}
.aRedirectPost{
    color:black;
    opacity:0.5;
}
    .aRedirectPost:hover {
        color:black;
        opacity:1;
    }
.aTodosPost:hover{
    text-decoration:none;
    color:black;
}
.rowImportantes{
    background:url("../../images/generales/fondo_gris.png");
    padding-top:1%;
    padding-bottom:1%;
}
.minEvento{
    width:60%;
}
.DivEvento{
    margin-top:1%;
    margin-bottom:1%;
}
/**/