.menuLateral {
  margin-top: 40px;
  padding: 0; }
  .menuLateral li {
    width: 100%;
    display: block;
    cursor: pointer;
    border: solid 1px black;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 3%;
    height: 140px; }
  .menuLateral .imgMap {
    width: 60%;
    margin: 0 auto; }
  .menuLateral .colImgMap {
    text-align: center;
    width: 60%;
    display: inline-block; }

.activeInstitucion {
  border-color: #cd1315 !important;
  color: #cd1315;
  font-weight: bold; }

.texto {
  width: 30%;
  display: inline-block; }

@media (max-width: 992px) {
  .detalles {
    height: 850px;
    margin-bottom: 2%; }

  .menuLateral li {
    height: auto; }
  .menuLateral .padreColImgMap {
    text-align: center; }
  .menuLateral .imgMap {
    display: block;
    margin: 0 auto; }

  .texto {
    display: block;
    width: 90%;
    margin-top: 3%; } }
@media (max-width: 768px) {
  .detalles {
    height: 800px; }

  .menuLateral {
    text-align: center; }
    .menuLateral li {
      width: 30%;
      display: inline-block; } }
@media (max-width: 450px) {
  .detalles {
    height: auto; }

  .menuLateral li {
    width: 100%;
    display: block; }
  .menuLateral .colImgMap {
    display: none; } }
.detalles {
  background: #f3f2f2; }

* {
  font-family: "MyriadRegular"; }

.tituloInstitucion {
  text-align: center;
  margin-bottom: 5%; }

.fila {
  margin-bottom: 5%; }

.colFotoInst {
  text-align: left;
  padding: 0; }

.rowTituloInst {
  margin-top: 40px;
  margin-bottom: 8%; }
  .rowTituloInst .tituloFichaInst a {
    color: #cc1315; }
  .rowTituloInst .nombrenIst {
    text-decoration: underline;
    text-transform: uppercase; }
  .rowTituloInst .tituloFichaInst, .rowTituloInst .nombrenIst {
    display: inline-block; }

.colMedia a {
  color: #414141; }

.contenidoFicha {
  padding-left: 2%;
  font-size: 12px;
  font-weight: normal; }
  .contenidoFicha .imgFotoInstitucion {
    width: 95%; }
  .contenidoFicha .etiqueta {
    padding: 0;
    color: #414141;
    font-weight: bold;
    text-transform: capitalize; }
  .contenidoFicha .etiquetaTitulo {
    display: block;
    margin-bottom: 3%;
    color: #414141; }
  .contenidoFicha .seccion {
    width: 80%;
    text-transform: lowercase; }

.tablaNumeroEstudiante {
  font-family: "MyriadRegular";
  margin-top: 5%;
  margin-bottom: 5%; }
  .tablaNumeroEstudiante tr th, .tablaNumeroEstudiante tr td {
    font-size: 0.8em; }
  .tablaNumeroEstudiante tr th:first-child, .tablaNumeroEstudiante tr td:first-child {
    padding-left: 0; }
  .tablaNumeroEstudiante tr td {
    font-size: 0.7em; }

.aRegresar {
  color: black;
  text-decoration: none;
  font-weight: normal; }

.contenidoConocimiento {
  margin-top: 5%;
  width: 80%; }
  .contenidoConocimiento .rowNivelArea {
    font-size: 1em; }
  .contenidoConocimiento .etiquetaTitulo {
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 14px; }

/* */
@media (max-width: 992px) {
  .detalles {
    height: 850px;
    margin-bottom: 2%; } }
@media (max-width: 768px) {
  .menuLateral {
    text-align: center; }

  li {
    width: 30%;
    display: inline-block; }

  .detalles {
    height: 800px; } }
@media (max-width: 450px) {
  .detalles {
    height: auto; }

  .menuLateral li {
    width: 100%;
    display: block; }

  .colImgMap {
    display: none; }

  .texto {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
