// imports 
@import "../recursoSass/_menuLateral.sass"
@import "../recursoSass/_variables.sass"
@import "../recursoSass/_contenidoDerecha.sass"
// estilos
*
	font-family: $letraEstandar

.tituloInstitucion
	text-align: center
	margin-bottom: 5%

.fila
	margin-bottom: 5%
.colFotoInst
	text-align: left
	padding: 0
.rowTituloInst
	margin-top: 40px 
	margin-bottom: 8%
	.tituloFichaInst
		a 
			color: $rojito
		
	.nombrenIst
		text-decoration: underline

	.tituloFichaInst,.nombrenIst
		display: inline-block
		text-transform: uppercase

.contenidoFicha
	padding-left: 2%
	font-size: 0.8em
	text-transform: uppercase
	font-weight: normal
	.etiqueta
		padding: 0
		color: $rojito
	.etiquetaTitulo
		display: block
		margin-bottom: 3%
	.seccion
		width: 80%

.contenidoConocimiento
	margin-top: 5%
	width: 80%
	.rowNivelArea
		text-transform: uppercase
		font-size: 1em

	.etiquetaTitulo
		text-align: center
		margin-bottom: 3%
		text-transform: uppercase