// imports 
@import "../recursoSass/_menuLateral.sass"
@import "../../../generals/sass_sources/_variables.sass"
@import "../recursoSass/_variables.sass"
@import "../recursoSass/_contenidoDerecha.sass"
// estilos
*
	font-family: $letraEstandar

.tituloInstitucion
	text-align: center
	margin-bottom: 5%

.fila
	margin-bottom: 5%
.colFotoInst
	text-align: left
	padding: 0
.rowTituloInst
	//text-transform: uppercase
	margin-top: 40px 
	margin-bottom: 8%
	.tituloFichaInst
		a 
			color: $rojito
	.nombrenIst
		text-decoration: underline
		text-transform: uppercase
	.tituloFichaInst,.nombrenIst
		display: inline-block
		//text-transform: uppercase
.colMedia
	a
		color: $negrito
.contenidoFicha
	padding-left: 2%
	font-size: 12px
	//text-transform: uppercase
	font-weight: normal
	.imgFotoInstitucion
		width: 95%
	.etiqueta
		padding: 0
		color: $negrito
		font-weight: bold
		text-transform: capitalize
	.etiquetaTitulo
		display: block
		margin-bottom: 3%
		color: #414141
	.seccion
		width: 80%
		text-transform: lowercase
.tablaNumeroEstudiante
	font-family: $fontPrincipal
	margin-top: 5%
	margin-bottom: 5%
	tr th,tr td
		font-size: 0.8em
	tr th:first-child,tr td:first-child
		padding-left: 0
	tr td
		font-size: 0.7em
.aRegresar
	color: black
	text-decoration: none
	font-weight: normal
.contenidoConocimiento
	margin-top: 5%
	width: 80%
	.rowNivelArea
		//text-transform: uppercase
		font-size: 1em

	.etiquetaTitulo
		//text-align: center
		margin-bottom: 3%
		font-weight: bold
		font-size: 14px
		//text-transform: uppercase
@media  (max-width:992px)  //(min-width: 400px) and
    
@media  (max-width:768px)  //(min-width: 400px) and
    
@media  (max-width:600px)  //(min-width: 400px) and
	.textoFichaInstitucion
		width: 70%
	.detalleEtiqueta
		width: 100%
		display: block
@media  (max-width:540px)  //(min-width: 400px) and
@media  (max-width:450px)  //(min-width: 400px) and