@import "../../../../generals/sass_sources/_universal.sass"
$rojito: #c71214
.rowNavegacion
	margin-top: 5%
.seccionGris
	padding: 1%

.centroNoticia
	width: 95%
	margin: 0 auto
	border-bottom: solid 1px #cd1315
	padding-bottom: 1%
.tituloPreview
	border-bottom: solid 1px #cd1315
	padding-bottom: 1%
	margin-bottom: 3%
	margin-top: 5%
	h2
		text-transform: uppercase
		color: $rojito
		font-size: 1.5em
		margin-top: 3%
		width: 90%
		margin: 0 auto

.contenidoNoticia
	font-size: 0.9em
	margin-top: 5%
	margin-bottom: 5%

.centroContenido
	width: 90%
	margin: 0 auto

.vbottom 
	display: inline-block
	vertical-align: bottom
	float: none

.frmCambios,.frmAprobar
	width: 50%
	margin: 0 auto
	margin-top: 3%
.txtAreaMotivos
	margin-top: 3%
.btnEnviarSolicitud,.btnAprobarFinal
	margin-top: 3%

.padreContenedorUpload
	width: 50%
	left: 0
	width: 100%
	top: 15% !important

.contenedorUpload
	background: white
	width: 80%
	margin: 0 auto
	padding-top: 2%
	padding-bottom: 2%
.tituloSecciones
	text-align: center
	padding-top: 1%
	padding-bottom: 1%
	background: #eeecec
	margin-top: 3%
	color: #2C3E50
	
.cabeceraNoticia
	.divDetalles
		.spanTitulo
			color: $rojito
			text-transform: uppercase
	.imgMin
		border: solid $rojito 1px
		width: 100%