@using IUSLibs.SEC.Entidades
@{
    List<Submenu> submenus = (List<Submenu>)ViewBag.submenuss;
}
<div class="row marginNull">


    @if (submenus != null && submenus.Count > 0)
    {
        foreach (Submenu submenu in submenus)
        {
            <div class="col-lg-3 divMenu">
                <img src="~/Content/themes/iusback_theme/img/general/menu/cursor.png"/>
                <a href="@Url.Content("~"+submenu._enlace)">
                    @submenu._textoSubMenu
                </a>
            </div>

        }

    }
</div>