@using IUSLibs.SEC.Entidades
@{
    List<Submenu> submenus = (List<Submenu>)ViewBag.submenuss;
}
@if (submenus != null && submenus.Count > 0)
{
    foreach (Submenu submenu in submenus)
    {
        <div class="col-lg-3">
            <a href="@Url.Content("~"+submenu._enlace)">
                @submenu._textoSubMenu
            </a>
        </div>
        
    }
   
}