.inputBack
	background: transparent
	border: solid 1px #828181
	border-radius: 0
.btnBack
	border-radius: 0
	padding-top: 1%
	padding-bottom: 1%
	background: transparent	
.selectBack
	background: transparent
	height: 30px
	border-radius: 0
