@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/NotFound/stylei.css" />
}
@{
    ViewBag.Title = "DBNotAccess";
    ViewBag.headTitulo = "Error base de datos | Area publica";
    Layout = "~/Views/Shared/_Layouti.cshtml";
    
}
<div class="divErrorPage">
    <h2>DBNotAccess</h2>
    <p>
        Es imposible para el sistema acceder a la base de datos, por favor comuniquese con soporte tecnico
    </p>
</div>