@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/NotFound/style.css" />
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/NotFound/media.css" />*@
}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
<div class="divErrorPage">
    <img src="~/Content/images/generales/noPost.png" />
    <h2>Post no se encuentra disponible</h2>
    <p>
        Ha sido bloqueado
    </p>
</div>
