@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/NotFound/stylei.css" />
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/NotFound/media.css" />*@
}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
<div class="divErrorPage">
    <h2>Error inesperado</h2>
    <p>
        Servicio tecnico se encuentra trabajando para resolver lo mas rapido posible el inconveniente, sin embargo su opinion es muy importante puede escribirnos a
    </p>
</div>
