@{
    ViewBag.Title = "Index";
}
@section estilosPersonalizados{
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/AdicionalesInstituciones/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/AdicionalesInstituciones/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/GestionInstituciones/AdicionalInstituciones/script.js"></script>
        <script src="~/Scripts/Views/GestionInstituciones/AdicionalInstituciones/functions.js"></script>    
}
<div class="row marginNull divMensajesGenerales">

</div>
<div class="row marginNull">
    <div class="col-lg-6">
        <h4 class="text-center">Seleccione nivel</h4>
        <div class="row marginNull">
            <div class="col-lg-4">
                ISCED 5 - Terciaria de corto ciclo
            </div>
            <div class="col-lg-4">
                ISCED 6 - Grado en educación terciaria o nivel equivalente
            </div>
            <div class="col-lg-4">
                ISCED 7 - Grado en educación terciaria o nivel equivalente
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h4 class="text-center">Seleccione areas de conocimiento</h4>
    </div>
</div>
