@import "../../../generals/sass_sources/_universal.sass"
//@import "sass_sources/_modal.sass"
// plugins
@import "../universales/_universal.sass"
.spNombreCarpetaPublica,.spAtras
	cursor: pointer
.btnCompartirPublica
	margin-top: 3%
.tbRepoPublico
	margin-top: 2%
	margin-bottom: 5%
.padreContenedorUpload
	width: 50%
	left: 0
	width: 100%
	top: 15% !important
.divInputFile
	text-align: center
	input[type="file"]
		margin: 0 auto
		margin-bottom: 2%
//.divInputFile input[type="file"]
.contenedorUpload
	background: #f3f2f2 !important
	width: 35%
	margin: 0 auto
	padding: 2%
	h3
		margin-top: 3%
		margin-bottom: 3%
.tituloModal
	text-transform: uppercase
	margin-bottom: 8%
//#########################################
.fonditoGris
	background: #f3f2f2
.menu
	width: 80%


.centroRepo
	width: 95%
	margin: 0 auto
.rowNavegacion
	padding-left: 5%
	margin-bottom: 1%
.LineaHeadBody	
	background: #f3f2f2
	padding-top: 5%
	padding-bottom: 3%
	/* margin-bottom: 10%;margin-top: 5%;	*/
.btnPrincipal
	text-transform: uppercase
	color: white
	width: 100%
	padding-bottom: 10% !important
	padding-top: 10% !important
.colContenedor
	padding: 0
	min-height: 500px
	padding-bottom: 5%
.tablaRepo
	width: 95%
	margin: 0 auto
	margin-top: 3%
.menu
	width: 95%
	margin: 0 auto
	ul 
		padding: 0
		li
			list-style: none
			padding-top: 3%
			padding-bottom: 3%
			border: solid 1px #828181
			text-align: center
			width: 60%
			margin: 0 auto
			cursor: pointer
.botonesNewAction
	margin-top: 5%
	position: relative
	margin: 0 auto
	margin-bottom: 10%
	margin-top: 5%
	width: 60%
.NewActionLi
	width: 100% !important
.noBordeBottom
	border-bottom: none
.ulSub
	position: absolute
	width: 100%
	margin-top: 10%
	margin-left: -1%
.subLiButton
	width: 120% !important
	background: white
	border: none !important
	padding-bottom: 10% !important
	padding-top: 10% !important
	text-transform: uppercase
	div
		color: black
		border-bottom: solid 1px black
		padding-left: 5%
		padding-bottom: 5%
		padding-right: 5%
		width: 90%
		margin: 0 auto