//variables
$margenCentrado: 0 auto
$activeColor: #c71214
/* Menu conocenos */
.btnIUS
    border-radius: 0
    padding-top: 1%
    padding-bottom: 1%
    background: transparent
    border: solid 1px #828181
    color: #828181
.tbDocumentos
    .tdAccion
        text-align: center
    thead
        tr
            th
                border-bottom: none
            .thHead
                width: 50%
                text-align: center
    tbody 
        tr 
            td
                border: solid 1px #828181
                a
                    color: black
.menuConocenos
    margin-top: 80px
    padding: 0
    li
        display: block
        text-decoration: none
        padding-top: 6%
        padding-bottom: 6%
        text-align: center
        border:  solid 1px #828181
        margin-bottom: 3%
        text-transform: uppercase
        color: #828181
        cursor: pointer
        &:hover
            text-decoration: none    
/***/
.contenidoCuerpo
    border-bottom: solid 1px #cd1315
    padding-bottom:  60px

.DetalleMenuConocenos
    background: #f3f2f2
    padding-top: 80px
    padding-bottom: 80px

.contenidoConocenos,.contenedorImgPrincipal
    width: 80%
    margin: $margenCentrado

.divCuerpoConocenos
    font-size: 0.9em

.contenedorImgPrincipal
    border:  solid 1px #cd1315
    text-align: center
    padding-top: 20px
    padding-bottom: 20px

.imgPrincipal
    margin: $margenCentrado
    width: 95%

.activeConocenos
    border-color: $activeColor  !important
    color: $activeColor !important  

.tituloContenidoConocenos
    text-align: center
    text-transform: uppercase
    color: #cd1315
    font-size: 1em
    margin-bottom: 5%
    
