.lineaRoja{
    height: 40px;
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.73, #CD1316),
	    color-stop(1, #AD1013)
    );
    background-image: -o-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
    background-image: -moz-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
    background-image: -webkit-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
    background-image: -ms-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
    background-image: linear-gradient(to bottom, #CD1316 73%, #AD1013 100%);
}
/* Menu conocenos */
    .menuConocenos{
        margin-top:80px;
    }
    .menuConocenos li{
        display:block;
        text-decoration:none;
        padding-top:4%;
        padding-bottom:4%;
        text-align:center;
        border: solid 1px #828181;
        margin-bottom:3%;
    }
    .menuConocenos li a{
        text-transform:uppercase;
        color:#828181;

    }
/***/
    .DetalleMenuConocenos{
        background:#f3f2f2;
    }
    .contenedorImgPrincipal{
        width:80%;
        border: solid 1px #cd1315;
        text-align:center;
        margin:0 auto;
        margin-top:80px;
    }
    .imgPrincipal{
        margin:0 auto;
        width:95%;
    }