/*Arreglos bootstrap*/
.row.seccion{
    margin:0;
}
/*Tabs */
.ulTabGeneral{
    background:#95a5a6;
}
.ulTabGeneral li{
    background:#bdc3c7;
    padding:1%;
}
.tbRoles thead{
    text-align:center;
}
/*Fin arreglos tabs*/
.sectionBotonesEvento{
    margin-top:5%;
}
.hEventoUsuario{
    margin-bottom:5%;
}
#tabUsuario table{
    margin-top:5%;
}
/*Eventos*/
.colorEventoPropio{
    background:#3A87AD;
}
.colorEventoCompartido{
    background: #f1c40f;
}
.colorEventoPublico{
    background: #2ecc71;
}
.nombreEvento{
    color:white;
    font-weight:bold;
}