@charset "UTF-8";
.inputBack {
  background: transparent;
  border: solid 1px #828181;
  border-radius: 0; }

.btnBack {
  border-radius: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  background: transparent;
  border: solid 1px #828181; }

.borde {
  border: solid 1px #828181; }

.selectBack {
  background: transparent;
  height: 30px;
  border-radius: 0;
  border: solid 1px #828181; }

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.todo {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  background: white; }

body {
  background: #c6c5c5;
  font-family: "MyriadRegular"; }

.rojito {
  background: #cd1315; }

.grisito {
  background: #eeecec; }

.marginNull {
  margin: 0; }

.paddingNull {
  padding: 0; }

.cuerpoIndex {
  background: #f3f2f2;
  padding-top: 3%;
  padding-bottom: 3%; }

.lineaRoja {
  height: 45px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.73, #CD1316), color-stop(1, #AD1013));
  background-image: -o-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
  background-image: -moz-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
  background-image: -webkit-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
  background-image: -ms-linear-gradient(bottom, #CD1316 73%, #AD1013 100%);
  background-image: linear-gradient(to bottom, #CD1316 73%, #AD1013 100%); }

.centroPagina {
  width: 85%;
  margin: 0 auto; }
  .centroPagina .centro {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }

.rowNavegacion {
  margin-bottom: 5%; }
  .rowNavegacion .titulo {
    text-transform: uppercase;
    text-decoration: underline; }
  .rowNavegacion .tituloPrev {
    text-decoration: underline; }
    .rowNavegacion .tituloPrev a {
      color: #333 !important; }
  .rowNavegacion span a:first-child {
    color: #cd1315; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.visibilitiHidden {
  visibility: hidden; }

.fullSize {
  width: 100%; }

.pointer {
  cursor: pointer; }

.input-group-addon {
  border-radius: 0;
  border: solid 1px #828181; }

table {
  border-collapse: collapse;
  background: transparent; }
  table thead tr td {
    font-size: 14px;
    border-bottom: solid 1px #828181 !important;
    text-align: center; }
  table thead tr th {
    font-size: 14px;
    border-bottom: solid 1px #828181 !important;
    text-align: center; }
  table td {
    border: solid 1px #828181;
    color: #414141;
    font-size: 14px; }

#contenerdorCargadorAjax {
  position: absolute;
  left: 50%;
  top: 50%; }

#textoEsperaAjax {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 3%; }

#cargadorAjaxUniversal {
  position: relative;
  top: 50%;
  left: -50%;
  text-align: center; }

#div_carga, .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
  display: none;
  z-index: 1; }

.inputBackModal {
  background: rgba(255, 255, 255, 0.5);
  position: static !important; }

.divResultado {
  text-align: center;
  margin-bottom: 3%;
  font-weight: bold; }

.successMessage {
  color: #2ecc71 !important; }

.failMessage {
  color: #e74c3c !important; }

.bordeStandar {
  border: solid 1px #828181; }

.trTableRol {
  background: white !important; }

#menuLogout {
  color: #cc1315; }

.miniControles {
  text-transform: uppercase;
  padding-right: 3%;
  color: #828181;
  font-size: 10px; }

.divBienvenida {
  text-transform: uppercase;
  font-size: 12px; }
  .divBienvenida .titulo {
    color: #cd1315; }
  .divBienvenida .nombre {
    color: #828181; }

.contenidoHead {
  padding-top: 1%;
  padding-bottom: 1%; }

.logoHeader {
  text-align: center; }
  .logoHeader img {
    width: 78%; }

.areaAyuda {
  text-align: right; }
  .areaAyuda .divAyuda {
    display: inline-block; }

.divFoto {
  text-align: center; }
  .divFoto img {
    width: 100%;
    border-radius: 100%;
    border: solid 1px #c93132;
    padding: 8%; }

/* border: solid 1px #c93132 */
.tituloIdioma {
  float: left;
  padding-top: 4px;
  margin-right: 3%;
  color: #b6b5b5;
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 7px;
  padding-right: 7px; }

.todoIdioma {
  width: 35%;
  margin: 0 auto; }

.cbIdiomaInterna {
  text-transform: uppercase;
  color: #d0cfcf;
  font-family: "MyriadRegular";
  font-size: 1em;
  font-weight: bold; }

.padreCaja {
  width: 60%;
  display: inline-block; }
  .padreCaja .cajaArriba {
    display: table;
    width: 100%; }
    .padreCaja .cajaArriba .caja {
      margin: 20px auto 40px auto;
      border: 1px solid #cd1315;
      height: 30px;
      overflow: hidden;
      width: 80%;
      position: relative;
      display: table-cell;
      vertical-align: bottom; }
      .padreCaja .cajaArriba .caja::after {
        content: "▾";
        display: table-cell;
        padding-top: 7px;
        text-align: center;
        width: 30px;
        height: 30px;
        background-color: #cd1315;
        position: absolute;
        top: 0;
        right: 0px;
        pointer-events: none;
        color: white; }
      .padreCaja .cajaArriba .caja select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 30px;
        padding: 5px;
        width: 100%; }

.rowSearch {
  padding-top: 8px;
  padding-bottom: 1%;
  height: 45px; }
  .rowSearch .inputSearchDiv {
    margin-bottom: 0;
    width: 90%;
    float: left; }
    .rowSearch .inputSearchDiv .icoSearch {
      top: 17%;
      right: 2%; }
      .rowSearch .inputSearchDiv .icoSearch .imgLupita {
        width: 60%; }
    .rowSearch .inputSearchDiv .inputSearch {
      border-radius: 20px;
      height: 30px; }

footer {
  background: #dddbdb;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #929292;
  text-transform: uppercase; }
  footer img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    width: 50%;
    margin: 0 auto; }
  footer .copyRight span {
    display: block;
    font-weight: bold; }

footer {
  margin-top: 5%; }

body, h2, h1, label, h4 {
  font-family: "MyriadRegular" !important; }

.tabs {
  margin-top: 5%; }
  .tabs a {
    color: #333; }
  .tabs li {
    padding-top: 10%;
    padding-bottom: 10%;
    border: solid 1px black;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 3%; }
    .tabs li:hover {
      cursor: pointer; }

.tabActive {
  border-color: #cd1315 !important;
  color: #cd1315 !important; }

.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-single {
  height: 30px;
  border-radius: 0;
  background: none;
  padding-top: 3px;
  border: solid 1px #828181; }

.chosen-container-single .chosen-drop {
  background: white; }

.chosen-container-multi {
  border: solid 1px #828181; }

.chosen-container-multi .chosen-choices {
  background: none;
  border: none; }

/* */
.spanPicture {
  float: right; }
  .spanPicture:hover {
    color: black; }

/** */
.cbFiltroTipoEvento {
  margin-bottom: 3%; }

.ui-accordion .ui-accordion-content {
  margin-bottom: 3%; }

/*Arreglos bootstrap */
.row.seccion {
  margin: 0; }

.divMensajesEvento {
  margin-top: 3%; }

/*Tabs */
/*Tab eventos */
.divTiempo {
  margin-top: 2%;
  margin-bottom: 2%; }

/*Fin tab eventos */
/* Tab compartir */
/* ******************** Nuevo  ******************** */
.eventosCompartirSection {
  margin-bottom: 3%; }

.eventosCompartirSection > h3 {
  text-align: center;
  margin-bottom: 5%; }

.cambioControl {
  margin-top: 3%;
  margin-bottom: 3%; }

.divMensajesCompartirGenerales {
  text-align: center;
  margin-bottom: 3%; }

/* ******************** /Nuevo/  ******************** */
.noEventoDiv {
  margin-top: 10%;
  text-align: center; }
  .noEventoDiv img {
    width: 16%; }
  .noEventoDiv h4 {
    font-family: "latop";
    font-weight: bold;
    color: #95A5A6; }

/*Fin tab compartir */
.ulTabGeneral {
  background: #95a5a6; }
  .ulTabGeneral li {
    background: #bdc3c7;
    padding: 1%; }

.tbRoles thead {
  text-align: center; }

/*Fin arreglos tabs */
.hEventoUsuario {
  margin-bottom: 5%; }

#tabUsuario {
  display: block; }
  #tabUsuario table {
    margin-top: 5%; }

/*Eventos */
.colorEventoPropio {
  background: #3A87AD; }

.colorEventoCompartido {
  background: #f1c40f; }

.colorEventoPublico {
  background: #2ecc71; }

.nombreEvento {
  color: white;
  font-weight: bold; }

/*************************** */
.btnAgregarEvento {
  margin-top: 3%; }

.divMensajes {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%; }

.contenidoCuerpo {
  border-bottom: solid 1px #cd1315;
  padding-bottom: 60px; }

.centroEventos {
  width: 95%;
  margin: 0 auto; }

.rowNavegacion {
  margin-top: 5%; }

.rowFrm {
  margin-top: 2%; }

#frmAgregarEvento {
  margin-bottom: 5%; }

.eventos {
  overflow-x: scroll;
  white-space: nowrap;
  height: 400px; }
  .eventos .divEvento {
    width: 40%;
    height: 350px;
    background: pink;
    display: inline-block;
    margin-right: 5%; }

.clickTr {
  background: #bdc3c7 !important; }

.rowBtnInputBuscar {
  margin-top: 3%; }

.divEventoi {
  height: 450px;
  margin-bottom: 3%;
  padding: 2%; }
  .divEventoi .divTituloDescripcion {
    font-weight: bold; }
  .divEventoi h4 {
    text-align: center;
    text-transform: uppercase; }
  .divEventoi .pDescripcionEvento {
    padding-left: 3%;
    padding-top: 3%;
    text-align: justify; }

.divBusquedaEvento {
  padding-left: 40px; }

.tituloBusquedaEvento {
  text-align: center; }

.txtDeFechaBusqueda {
  margin-bottom: 3%; }

.divHorai {
  margin-top: 4%; }

.divImage {
  text-align: center;
  opacity: 0.7;
  margin-top: 5%;
  margin-bottom: 5%; }
  .divImage img {
    width: 90%;
    margin: 0 auto; }

.divBotones {
  width: 30%;
  margin: 0 auto; }

.activePaginador {
  font-weight: bold !important;
  color: #cc1315 !important; }

.precarga {
  background: transparent url("../../../../../../Administracion/getImageThumbnailEvent/1110") center no-repeat;
  background-size: 90%;
  min-height: 110px; }

.containerPaginador {
  display: table-cell; }

.padrePaginador {
  text-align: center;
  font-size: 0.8em;
  width: 150px;
  margin: 0 auto; }
  .padrePaginador .containerPaginador .paginador {
    cursor: pointer;
    display: table-cell;
    border: solid 1px #828181;
    width: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 25px;
    vertical-align: middle; }
  .padrePaginador .paginador {
    cursor: pointer;
    display: inline-block;
    border: solid 1px #828181;
    width: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: bottom;
    height: 25px;
    vertical-align: middle; }
  .padrePaginador .atras {
    display: table-cell;
    vertical-align: middle; }
  .padrePaginador .adelante {
    display: table-cell;
    vertical-align: middle; }

/*# sourceMappingURL=stylei.css.map */
