/*Arreglos bootstrap*/
.row.seccion{
    margin:0;
}
/*Tabs */
    /*Tab eventos*/
    .divTiempo{
        margin-top:2%;
        margin-bottom:2%;
    }
    /*Fin tab eventos*/
    /* Tab compartir */
    
    /* ******************** Nuevo  ******************** */
    .eventosCompartirSection{
        height:600px;
        overflow-y:scroll;
    }
    .cambioControl{
        margin-top:3%;
        margin-bottom:3%;
    }
    .divMensajesCompartirGenerales{
        text-align:center;
        margin-bottom:3%;
    }
    
    /* ******************** /Nuevo/  ******************** */
    .eventosCompartirSection > h3{
        text-align:center;
        margin-bottom:5%;
    }
    .noEventoDiv{
        margin-top:10%;
        text-align:center;
    }
    .noEventoDiv img{
        width:16%;
    }
    .noEventoDiv h4{
        font-family:'latop';
        font-weight:bold;
        color:#95A5A6;
    }
    /*Fin tab compartir */
    .ulTabGeneral{
        background:#95a5a6;
    }
    .ulTabGeneral li{
        background:#bdc3c7;
        padding:1%;
    }
    .tbRoles thead{
        text-align:center;
    }
    #tab-1{
        margin-top:3%;
    }
    #tab-2{
        margin-top:3%;
    }
/*Fin arreglos tabs*/
    .sectionBotonesEvento{
        margin-top:5%;
    }
    .hEventoUsuario{
        margin-bottom:5%;
    }
    #tabUsuario table{
        margin-top:5%;
    }
    #tabUsuario{
        display:block;
    }
/*Eventos*/
    .colorEventoPropio{
        background:#3A87AD;
    }
    .colorEventoCompartido{
        background: #f1c40f;
    }
    .colorEventoPublico{
        background: #2ecc71;
    }
    .nombreEvento{
        color:white;
        font-weight:bold;
    }

/****************************/
.btnAgregarEvento{
    margin-top:3%;
}

.divMensajes{
    text-align:center;
    margin-top:4%;
    margin-bottom:4%;
}