@import "../../../generals/sass_sources/_universal.sass";

.jcrop-holder, .imgPersona {
  margin: 0 auto;
}

.divResultado {
  margin-top: 1%;
}

.imgThumbnail {
  max-width: 50%;
  height: auto;
}

.todoForm {
  text-align: center;
  margin-top: 5%;
}

.rowNavegacion {
  margin-top: 5%;
}
