@section estilosPersonalizados{
    <!-- <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.css" /> -->
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta4/fonts.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta4/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta4/media.css" />

}
<header class="container-fluid">
    <div class="col-sm-12 col-md-12 col-lg-12 preheader">
        <div class="col-sm-6 col-md-4 col-lg-4 ">
            <i class="fa fa-search"></i>
            <input type="search" class="form-control txtSearchGlobal" />
        </div>
        <div class="col-sm-2 col-md-4 col-lg-4 loginPedazo ">
            <!-- <img src="~/Content/images/propuesta4/lock.png" />
        <span>Iniciar sesion</span>-->
            <button class="btn">Iniciar Sesion</button>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 socialSeccion">
            <a href="#">
                <img src="~/Content/images/propuesta4/icons/32-facebook.png" />
            </a>
            <a href="#">
                <img src="~/Content/images/propuesta4/icons/32-twitter.png" />
            </a>
            <a href="#">
                <img src="~/Content/images/propuesta4/icons/32-youtube.png" />
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 menuSection">
        <div class=" menuBlock">
            <nav class="navMenu">
                <ul>
                    <li class="col-md-4 col-lg-4">
                        <a href="#">Inicio</a>
                    </li>
                    <li class="col-md-4 col-lg-4">
                        <a href="#">Instituciones</a>
                    </li>
                    <li class="col-md-4 col-lg-4">
                        <a href="#">Noticias</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class=" logoMenuSection imgMenuBlock">
            <img src="~/Content/images/propuesta4/logopng.png" />
        </div>
        <div class=" menuBlock">
            <nav class="navMenu">
                <ul>
                    <li class="col-md-4 col-lg-4">
                        <a href="#">Red IUS</a>
                    </li>
                    <li class="col-md-4 col-lg-4">
                        <a href="#">Galeria</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="slider">
    <div class="navSlider ">
        <div class="col-sm-2 col-md-1 col-lg-1  navSlide">
            <i class="fa fa-chevron-left "></i>
        </div>
        <div class="col-sm-offset-8 col-sm-2 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1 navSlide ">
            <i class="fa fa-chevron-right "></i>
        </div>
    </div>
    <img src="~/Content/images/propuesta4/bannerReducido.jpg"/>
</div>
<div class="contenido container-fluid">
    <div class="col-md-4 col-lg-4">
        <h2>¿Quienes somos?</h2>
        <p class="text-justify">
            Las IUS son instituciones de estudios superiores de
            inspiración cristiana, con carácter católico e índole
            salesiana. Éstas presentan diferencias tanto respecto
            a su vinculación a la Iglesia y a la Congregación
            Salesiana (las hay propias, otras confiadas
            a su tutela o de responsabilidad compartida con otros)
        </p>
    </div>
    <div class="col-md-4 col-lg-4 eventosSection">
        <h2>Proximos eventos</h2>
        <div class="col-md-4 col-lg-4 eventoColumn">
            <img src="~/Content/images/propuesta4/icons/calendar.png" />
            <h4>Ver eventos</h4>
        </div>
        <div class="col-md-4 col-lg-4 eventoColumn">
            <img src="~/Content/images/propuesta4/icons/check.png" />
            <h4>Sincronizar</h4>
        </div>
        <div class="col-md-4 col-lg-4 eventoColumn">
            <img src="~/Content/images/propuesta4/icons/image.png" />
            <h4>Galeria</h4>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 suscribirseSection">
        <h2>Suscribirse</h2>
        <p>
            Suscribete para recibir informacion acerca de nuestros proximos eventos
            promociones y muchas otras sopresas mas
        </p>
        <!-- <input type="text" class="form-control"/>-->
        <div class="input-group">
            <span class="input-group-addon primary">
                <i class="fa fa-envelope-o"></i>
            </span>
            <input type="text" class="form-control txtSuscribir">
        </div>
        <button class="btn btnSuscribir">Suscribete Ya</button>

    </div>
</div>
<footer>
    <div class="prefooter container-fluid">
        <div class="col-md-4 col-lg-4">
            <h3>Tweets</h3>
            <hr class="lineaTwitter" />
            <div class="tweets container-fluid">
                <div class="row">
                    <div class=" iconTweet rowTweet">
                        <img src="~/Content/images/propuesta4/icons/twitterRombo.png" />
                    </div>
                    <div class="  rowTweet">
                        Bienvenidos a nuestra cuenta de twitter
                    </div>
                </div>
                <div class="row">
                    <div class=" iconTweet rowTweet">
                        <img src="~/Content/images/propuesta4/icons/twitterRombo.png" />
                    </div>
                    <div class="rowTweet">
                        Bienvenidos a nuestra cuenta de twitter
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bajoFooter">
        Instituciones Salesianas de Educación Superior<br />
        2015 Derechos reservados<br />
        Desarrollador por: CTIC El Salvador.
    </div>
</footer>