@section estilosPersonalizados{
    <!-- <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.css" /> -->
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta3/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta3/media.css" />
}
<h2>propuesta3</h2>
