@section estilosPersonalizados{
    <!-- <link rel="stylesheet" href="~/Content/fonts/font-awesome/css/font-awesome.css" /> -->
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta2/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/propuesta2/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/propuesta2/functions.js"></script>
    <script src="~/Scripts/views/propuesta2/script.js"></script>
}
<div class="divSlider">
    <input type="hidden" class="sliderImg active" value="~/Content/images/generales/slide2.png" />
    <input type="hidden" class="sliderImg" value="~/Content/images/generales/slide.png">
</div>
<div class="container-fluid">
    <div class="row">
        <header class="container-fluid header">
            <div class="row">
                <nav class="menu ">
                    <ul class="ulMenu">
                        <li class="padre">
                            <a href="#">Inicio</a>
                            <ul class="subMenu">
                                <li>
                                    <a href="#">¿Quienes somos?</a>
                                </li>
                                <li>
                                    <a href="#">Mision,Vision</a>
                                </li>
                                <li>
                                    <a href="#">Direccion</a>
                                </li>
                                <li>
                                    <a href="#">Estructura organizacional</a>
                                </li>
                            </ul>
                        </li>
                        <li class="padre">
                            <a href="#"> Instituciones IUS</a>
                            <ul class="subMenu">
                                <li>
                                    <a href="#">menu</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Programas educativos</a>
                        </li>
                        <li>
                            <a href="#">Contacto</a>
                        </li>
                        <li>
                            <a href="#">Seleccion idioma</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row container-fluid">
                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 ">
                    <div class="nav" direccion="0"><</div>
                </div>
                <div class="col-xs-offset-6 col-xs-3 col-sm-offset-8 col-sm-2 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1 ">
                    <div class="nav" id="navRight" direccion="1">></div>
                </div>
            </div>
            <div class="row segundoMenu">
                <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                    <div class="col-sm-6 col-md-2 col-lg-2 item">
                        <div class="row container-fluid">
                            <div class="row">
                                <img src="~/Content/images/propuesta2/camara.png" />
                            </div>
                            <div class="row">
                                Galeria audio visual
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 item">
                        <div class="row">
                            <img src="~/Content/images/propuesta2/repositorio.png" />
                        </div>
                        <div class="row">
                            Repositorio Digital
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 item">
                        <div class="row">
                            <img src="~/Content/images/propuesta2/eventos.png" />
                        </div>
                        <div class="row">
                            Eventos y Noticias
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 item">
                        <div class="row">
                            <img src="~/Content/images/propuesta2/red.png" />
                        </div>
                        <div class="row">
                            Red IUS
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <div class="cuerpo container-fluid">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 infoSection">
                    <h2 class="tituloInfoSection">¿Quienes Somos?</h2>
                    <p>
                        Las IUS son instituciones de estudios superiores de inspiración cristiana, con caráctercatólico e índole salesiana. Éstas presentan diferencias tanto respecto a su vinculación a la Iglesia (las hay pontificias, católicas, de inspiración cristiana) y a la Congregación Salesiana (las hay propias, otras confiadas a su tutela o de responsabilidad compartida con otros) como a los grados académicos que confieren y a las situaciones locales en las que se insertan.
                    </p>
                    <p>
                        Las IUS son instituciones de estudios superiores de inspiración cristiana, con caráctercatólico e índole salesiana. Éstas presentan diferencias tanto respecto a su vinculación a la Iglesia (las hay pontificias, católicas, de inspiración cristiana) y a la Congregación Salesiana (las hay propias, otras confiadas a su tutela o de responsabilidad compartida con otros) como a los grados académicos que confieren y a las situaciones locales en las que se insertan.
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 noticiasSection ">
                    <div class="cuadritoNoticia container-fluid">
                        <div class="col-lg-12">
                            <h2 class="tituloNoticia">Noticias</h2>
                        </div>
                        <div class="col-lg-12">
                            <p>
                                Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.
                            </p>
                        </div>
                        <div class="col-lg-12 divImageNoticia">
                            <img src="~/Content/images/propuesta2/noticias.png" class="imgNoticia" />
                        </div>
                        <div class="col-lg-12">
                            <p>
                                Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="container-fluid footer">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footerPart">
                    <h3>
                        Intituciones Salesianas de Educación superior <br />
                        2015 Derechos Reservados
                    </h3>
                    <h4>Diseño Web por: CTIC, Universidad Don Bosco</h4>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footerPart">
                    <address>
                        Direzione Generale Opere Don Bosco<br />
                        Via della Pisana, 1111<br />
                        00163 Roma<br />
                        00+39+06+0000000
                    </address>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 footerPart">
                    <div class="col-lg-12">
                        <h3 class="titleContacto">Contactanos</h3>
                    </div>
                    <div class="col-lg-12 circulosRedes">
                        <div class="divContenedorCirculo">
                            <div class="circulo">
                                <i class="fa fa-facebook"></i>
                            </div>
                        </div>
                        <div class="divContenedorCirculo">
                            <div class="circulo">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                        <div class="divContenedorCirculo">
                            <div class="circulo">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
</div>
