@import "../../generals/sass_sources/_universal.sass";

.cuerpoModulo {
  text-align: center;
}

.cuerpoModulo h2 {
  text-align: center;
  font-size: 1.5em;
}

.cuerpoModulo p {
  font-size: 1em;
}

.rowNavegacion {
  margin-top: 5%;
}
