@import "../../generals/sass_sources/_universal.sass"
// plugins 
@import "../../generals/sass_sources/parts/tabs/_tabs.sass"
@import "../../generals/sass_sources/parts/plugins/_chosen.sass"
@import "../../generals/sass_sources/parts/plugins/_dataTable.sass"

.divResultado
  margin-top: 3%

.divRoles
  margin: 0
  margin-top: 3%

.tableRolesTab1 
  tr 
    td 
      width: 33%

.contenidoCuerpo 
  border-bottom: solid 1px #cd1315
  padding-bottom: 60px
.divSeleccioneRolTab2
  margin-bottom: 4%
  div 
    display: block
    width: 30%
    margin: 0 auto

.divSeleccioneRolTab2 div.divLbSelectRolTab2,#tab-2 h4
  text-align: center
  font-size: 1.3em
    

#tab-2
  margin-top: 2%
  h4
    margin-bottom: 4%

.divBusquedaOpcionesTab2
  margin-bottom: 2%

.tbMenus 
  tbody 
    tr
      cursor: pointer

#tab-3 
  margin-top: 3%

.centroRoles
  width: 95%
  margin: 0 auto



.divAgregarRol
  margin-top: 3%

.btnAsignarSubmenu,.btnAsignarPermiso
  cursor: pointer

.cbRolTab2
  margin-top: 3%

.rowNavegacion
  margin-top: 5%