/* Busqueda */
.ckSeccion{
    margin-bottom:4%;
}
.inputsBusquedaSeccion{
    margin-bottom:3%;
}
footer{
    margin-top:5%;
}
.divAtomBusqueda:last-child{
    text-align:center;
    margin-top:5%;
}