@{
    ViewBag.Title = "Index";
}
@section estilosPersonalizados{
    <!-- Propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/universales/functions.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
<h2>Asociacion de extensiones</h2>
<table>
    <thead>
        <tr>
            <th>Extensión</th>
            <th>Tipo de archivo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
