@{
    ViewBag.Title = "Index";
}
@section estilosPersonalizados{
    <!-- Propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/universales/functions.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
<h2>Index</h2>
