.divContinentes{
    margin-top:2%;
    margin-bottom:4%;
}
.continente {
    text-align: center;
}
.nombreContinente{
    visibility:hidden;
}
.tituloAyuda{
    text-align:center;
    margin-top: 5%;
    margin-bottom:5%;
    font-family:'latop';
}